[2017-07-13 19:20] canesin opened #1 "rename repository"
@lucianoengel can you rename the repository to follow the informal standard for the case ?
something like: neoscan, neo-scan or neo-explorer

[2017-07-13 19:36] lucianoengel commented on #1
done

[2017-07-13 19:36] #1 closed

[2017-08-23 13:36] lucianoengel opened #7 "Design Better GenStage Pipeline"
The current blockchain synchronization process uses a GenStage pipeline as follows:

![add_block 1](https://user-images.githubusercontent.com/1004935/29618389-5fd3feaa-87ee-11e7-93ec-eaf49e65ed82.jpg)

The problem is that a block don't have a maximum transactions count, neither transactions have a maximum number of inputs or outputs. Blocks with a great amount of transactions or with big transacti

[2017-08-23 13:44] lucianoengel opened #8 "Monitor worker dies on too many connection_timeouts"
When there's too many connection_timeouts the monitor starts killing nodes without testing. Probably related with the GenStage consumer recursively trying to fetch the data from the available nodes. On restarting the server, the monitor refill the nodes list and they seem fine.

[2017-08-23 13:52] lucianoengel opened #9 "Inferno doesn't render changes"
It shouldn't need the setInterval() function on apps/neoscan_web/assets/js/home_app.js

[code]

[2017-09-08 13:10] lucianoengel opened #16 "Front End Design"
Start implementation of the design concept
[Explorer_Concepts_01.pdf](https://github.com/CityOfZion/neo-scan/files/1287897/Explorer_Concepts_01.pdf)

[2017-09-08 15:26] lucianoengel opened #17 "Unit Tests"
Unit tests are not implemented.

[2017-09-11 17:55] lucianoengel opened #20 "Add Support for TestNet"
Consider solutions for testnet support.
-Dual DB;
-Prefix Tables;
-Individual Applications;
-Others?

[2017-09-11 18:04] lucianoengel opened #21 "Unclaimed Amount Calculation"
Add support for unclaimed gas calculation.

Python Reference: https://github.com/CityOfZion/neon-wallet-db/blob/master/api/util.py

[2017-09-21 12:38] revett opened #23 "Missing MIT license"
All CoZ repos need to have an MIT license.

[2017-09-22 17:56] lucianoengel commented on #23
go it ;)

[2017-09-22 17:56] #23 closed

[2017-09-29 06:08] mbenatti opened #28 "Fix Travis CI build"
Details in https://travis-ci.org/CityOfZion/neo-scan/builds

[2017-10-02 00:01] steffenix commented on #28
Can be closed.

[2017-10-02 00:40] steffenix opened #30 "Fix credo"
- credo should pass with `mix credo --strict`
- Add credo to the travis pipeline

[2017-10-02 00:43] steffenix opened #31 "Warning on build should be fixed"
- Fix warning
- add error on warning on mix.exs file to prevent future warnings

[code]

[2017-10-02 03:11] #28 closed

[2017-10-02 03:12] #21 closed

[2017-10-02 03:12] lucianoengel commented on #21
done

[2017-10-02 03:13] lucianoengel commented on #20
current solution is having two server instances running independently.

[2017-10-02 03:53] steffenix commented on #20
I think it's a good solution.

[2017-10-02 13:13] #30 closed

[2017-10-02 13:44] steffenix opened #34 "Add metas for SEO"
If we search for neo-scan on google first link is the github project.
We should add the basics meta title and description.

[2017-10-03 17:39] lucianoengel opened #35 "Add support for NEP5 tokens"

[2017-10-03 17:40] lucianoengel opened #36 "Add support for SC registered assets"

[2017-10-10 22:15] vladucu opened #44 "Error after starting the app second time"
Once I pulled the app and then restarted....started seeing this constraint error

<img width="1674" alt="screen shot 2017-10-11 at 01 12 43" src="https://user-images.githubusercontent.com/160955/31413387-9d34030e-ae21-11e7-8be9-a0b23cd71bea.png">

Can you confirm this is an issue or is it just me doing something crazy?

[2017-10-11 02:13] steffenix commented on #44
I have the same issue.

[2017-10-11 02:30] lucianoengel commented on #44
This is known behavior, the block queries in blocks.ex need to be adjusted. In production they are set to look for blocks higher than 1300000 to speed up. Since you don't have that many blocks yet, the query return 0 and it tries to re-add block 0, leading to a constraint error. Just change the queries to where: b.index > -1, instead of 1300000

[2017-10-11 02:30] #44 closed

[2017-10-11 02:45] lucianoengel commented on #20
will close for now then.

[2017-10-11 02:45] #20 closed

[2017-10-11 02:47] lucianoengel commented on #7
current solution seems yo be handling well in production. This will be kept open though, if anyone wants to give a try and improve.

[2017-10-11 10:07] vladucu commented on #44
PS: Might be useful to mention this for new up-comers...maybe Readme?

[2017-10-11 13:26] lucianoengel commented on #44
No need. The new branch has -1 as default already. I'm only changing that in the server machine

[2017-10-11 13:58] #34 closed

[2017-10-21 11:44] lucianoengel opened #58 "Add unspent vouts to get_balance method"
In order to build a transaction, unspent information is required.

[2017-10-21 11:45] lucianoengel commented on #36
Simple solution is register new assets when an address containing a unregistered asset is accessed.

[2017-10-21 18:40] canesin commented on #58
Ex:
http://api.wallet.cityofzion.io/v2/address/balance/AXSoNQEKjmqPBNPg5cNrHyWivfjok3Vj9D

[2017-10-22 16:36] snowypowers opened #59 "Add API for getting unclaimed transactions"
In order to build claimTransactions easily, I will need the following information:

- Transaction ID
- Amount of gas claimable from this transaction

The amt of gas claimable can be calculated by taking the difference between the block that generated the coin and the block that spent the coin.

EG:
 http://testnet-api.wallet.cityofzion.io/v2/address/claims/ALq7AWrhAueN6mJNqk6FHJjnsEoPRytLdW

The `

[2017-10-24 13:28] lucianoengel commented on #58
Ok, working on the new version.

[2017-10-24 13:28] #58 closed

[2017-10-24 13:48] lucianoengel commented on #59
Ok, added to the new version

[2017-10-24 13:48] #59 closed

[2017-10-25 12:22] snowypowers commented on #59
any examples? is it live for testing? I tried the API but dont see them

[2017-10-25 12:47] lucianoengel commented on #59
No, it will go live in the new design version that we're working on.

![image](https://user-images.githubusercontent.com/1004935/31999395-d53a68c8-b971-11e7-8cf1-7534a354e6e4.png)

![image](https://user-images.githubusercontent.com/1004935/31999425-ecb80de8-b971-11e7-9c4b-fc87aef9abbd.png)

[2017-10-25 12:49] snowypowers commented on #59
alright, will wait for the new version then :)

[2017-10-25 12:50] lucianoengel commented on #59
Are these calls enough for what you need? Let me know if you need anything else ;)

[2017-10-25 12:54] snowypowers commented on #59
oh for `get_balance` we need to know the index of the coin in the txid.

[code]

In a transaction, there are many outputs. We need to know exactly which output we are referring to. The `index` here refers to the index in the outputs array.

[2017-10-25 12:58] snowypowers commented on #59
similarly for `get_claimable` we will also need the index to point to the correct coin in question.

[2017-10-25 13:30] lucianoengel commented on #59
Ok! But I kept the chain "n" nomenclature

![image](https://user-images.githubusercontent.com/1004935/32001109-8ae56c90-b977-11e7-863d-8c826a8c7387.png)

![image](https://user-images.githubusercontent.com/1004935/32001133-9c0be1ac-b977-11e7-99cf-7e25cf5cd85a.png)

[2017-10-25 13:32] snowypowers commented on #59
OK. As long as the data is there that's okay. I can work with that on my side of implementation.

[2017-11-07 12:27] lucianoengel commented on #36
Solved by verifying if asset exists when registering a tx output. If not, fetch asset data from the chain and register in the DB. Current solution is better because doesn't need to access an address to register.

[2017-11-07 12:27] #36 closed

[2017-11-07 18:33] lucianoengel commented on #31
@steffenix is this solved already?

[2017-11-08 02:43] steffenix commented on #31
I will have to recheck.

[2017-11-14 11:34] lucianoengel commented on #59
@snowypowers API is online in neoscan.io!

[2017-11-15 08:05] snowypowers opened #84 "Wrong claim numbers"
During testing for neon-js, I noticed that the claim numbers are wrong for neoscan.

https://neoscan.io/api/main_net/v1/get_claimable/ATsmYxUsJaU1AcZm3RCcTAhrvYUNMPaCvq:
[code]

http://api.wallet.cityofzion.io/v2/address/claims/ATsmYxUsJaU1AcZm3RCcTAhrvYUNMPaCvq
[code]

I would assume neon-wallet-db is giving the correct numbers because I have counter checked it with neo-gui:

![image](https://use

[2017-11-15 17:49] lucianoengel commented on #84
@snowypowers  can you test if it's working now?

[2017-11-16 10:44] vladucu commented on #35
I can take a stab at adding NEP5 assets this week
@lucianoengel let me know if that's cool and if you have any thoughts on the implementation that I should take into consideration

[2017-11-16 11:20] lucianoengel commented on #35
Sure! @dvdschwrtz (@bjornborg in slack) is also into this, he can give you a better idea then myself I think. :)

[2017-11-16 11:46] bjornborg commented on #35
Hmmmmmm

[2017-11-16 13:29] #16 closed

[2017-11-16 14:39] snowypowers commented on #84
looks to be good

[2017-11-16 15:14] #84 closed

[2017-12-04 06:22] snowypowers opened #105 "Tx inputs and outputs hidden when too many"
This is a [transaction](https://neoscan-testnet.io/transaction/cc9ecfd33f8522bc47ab9a8186661a07b32009c17d34223506df87719e0ad77f) with 2560inputs :)

This is a [transaction](https://neoscan-testnet.io/transaction/e38df7d8cb09b48adc709f0ac02f46e95ec957b3a147214250460483df4c4cc3) with 1000 outputs :)

The list of inputs/outputs cuts off at about 15th item on the list without any way to look at the re

[2017-12-04 12:45] lucianoengel commented on #105
Fixed :)

[2017-12-04 12:45] #105 closed

[2017-12-10 08:05] snowypowers opened #106 "Inccorrect gas reported"
http://testnet-api.wallet.cityofzion.io/v2/address/claims/ALfnhLg7rUyL6Jr98bzzoxz5J7m64fbR4s
[code]

https://neoscan-testnet.io/api/test_net/v1/get_claimable/ALfnhLg7rUyL6Jr98bzzoxz5J7m64fbR4s
[code]

Note the difference in `claim` and `unclaimed`. They should have the same numbers. I believe that neoscan is wrong because the NEO node is rejecting my tx created by the neoscan data.
Have not tried

[2017-12-11 01:45] lucianoengel commented on #106
this is weird... In main net I couldn't find an address with this mismatch between the API's. Did you find any on main net? Its missing exactly 0.00000008 on each wrong one..... can't understand why some are correct and others aren't.

[2017-12-11 05:27] snowypowers commented on #106
thats like one block off. maybe check your block counting?

[2017-12-11 14:51] snowypowers commented on #106
the newer claims (with newer starting blocks) looks to be correct now. However, the old data is still there and wrong.

[2017-12-11 20:47] lucianoengel commented on #106
I've been digging the code trying to figure out what may be happening, but didn't changed anything so far. So,  whatever it is, it works for most of the time. Still trying to understand why only these calls are one block off...

[2017-12-18 05:42] snowypowers opened #107 "Incorrect ordering of outputs"
The outputs on neoscan is ordered incorrectly.

Doing a POST to a NEO node  for tx `60e2711319c1453d8de0ca8268b6ba9ced1d0c0c581c49d26e6efd4b75dccb24` yields:
[code]

However, on neoscan, it is displayed as:

![image](https://user-images.githubusercontent.com/9101245/34091473-ae4684e2-e372-11e7-8b9e-0fc4321bd06a.png)

This is not important to a normal end-user as the order would not matter to them.

[2017-12-18 05:48] snowypowers commented on #107
For clarity, this [tx](https://neoscan-testnet.io/transaction/2d32bad56d749c008499b2a723eaaced9fa980004b36e9a4d4fa00c85f6d0d25) shows that there is some ordering involved but definitely not according to the tx outputs.

I guess we can either:
1. Close as `willnotfix` as this is more consumer-focused, grouping by address does indeed help.
2. Sort by index to be more dev-focused. Or implement a togg

[2017-12-18 11:50] lucianoengel commented on #107
I think we should keep the correct index. Will work on that and have a look on how to add  the 3. :)

[2017-12-18 22:02] lucianoengel commented on #106
I created an algorithm to scan the block range for missing blocks and repair. It solved the problem! There was a missing block for some reason.

[2017-12-18 22:02] #106 closed

[2017-12-18 22:02] lucianoengel commented on #107
fixed the ordering

[2017-12-18 22:02] #107 closed

[2017-12-19 04:24] snowypowers opened #108 "Really slow response time"
![image](https://user-images.githubusercontent.com/9101245/34140649-0f127272-e431-11e7-9fc4-b85edfc633bb.png)

28s for an API call is pretty significant and might be related to your recent updates since it wasnt that slow previously.

But just to put it out there, the previous timing was still lagging quite a bit behind neon-wallet-db speed. (we talking about 2s here)

[2017-12-19 06:42] steffenix commented on #108
We need to check the indexes in the db.

[2017-12-19 14:20] lucianoengel commented on #108
@snowypowers, the unclaimed amount calculation takes some time for addresses that have a lot of unspent tx. I've removed that from the response object and things got much faster. Is that value necessary?

[2017-12-19 16:41] snowypowers commented on #108
i wont need the unclaimed amt if im querying `get_balance`.

[2017-12-19 16:43] lucianoengel commented on #108
Perfect then. Did you test if it's fast enough now?

[2017-12-19 16:44] snowypowers commented on #108
1256ms on testnet. Yeah this is more like it 👍

[2017-12-19 16:45] lucianoengel commented on #108
Great! I will close this then.

[2017-12-19 16:45] #108 closed

[2018-01-05 03:53] franklili3 opened #114 "How can I get historic wallet amount?"
The API has not the function of get historic wallet amount. How can I get historic wallet amount?

[2018-01-05 13:26] lucianoengel commented on #114
Actually it has, please refer to the get_address method (https://neoscan.io/doc/Neoscan.Api.html#get_address/1) which gives you the full transaction and balance history.

[2018-01-05 13:26] #114 closed

[2018-01-13 10:11] gligoran commented on #35
Has there been any progress on this?

[2018-01-16 03:13] franklili3 commented on #114
I don't want to get the transactions and balances of the specific address. I want to get the historical address amount. Example there are 1000000 addresses or 10000 addresses at 15th, Jan, 2018.

[2018-01-23 07:30] franklili3 opened #115 "How can I get historical address amount?"
API has told me to get the transactions and balances of the specific address. But I want to get the historical address amount. For example, there are 1000000 addresses or 10000 addresses in 15th, Jan, 2018.

[2018-01-23 14:30] lucianoengel commented on #115
Currently the database doesn't record the number of existing addresses over time. So there's no way to get that information for now.

[2018-01-23 14:30] #115 closed

[2018-02-23 01:50] brianlenz opened #120 "Block 1,952,187 not fully processed"
We noticed that one of our balances isn't displaying correctly on neoscan:

https://neoscan.io/address/AZXKdEc2M73qeQMmPj2zmKJFDWmzQf8Gyr

It's short 1 NEO. Neoscan is currently showing a balance of 361 NEO, but the actual balance is 362 (and a local neo-python node confirms this). I've tracked it down to block 1,952,187, which apparently didn't get processed fully:

https://neoscan.io/block/64f9b

[2018-02-23 05:40] brianlenz commented on #120
Note that I just transferred all of the NEO out of the address here, and the balance properly reflects zero. Interestingly, now block 1,952,187 _is_ showing the transaction that was missing (whereas it did not previously). I still don't see all 29 transactions in the block being displayed, however.

[2018-02-24 13:17] lucianoengel commented on #120
Yes! the problem is, when the the network is down the sync job might end in the middle of a block writing process. I have a repair algorithm to deal with it. That works in the following manner: since each tx uses previous tx outputs as inputs, if it can't find a previous tx it automatically calls the nodes for the missing information and then "repair" the block. Note that for this repair to happen

[2018-02-24 13:17] #120 closed

[2018-02-27 01:46] msied opened #121 "Replace "Neo Slack" link in footer with "Neo Discord""
As of December 10, 2017 CoZ moved its NEO community chat from slack to discord. The neoscan_web app needs to be updated to reflect this: https://www.reddit.com/r/NEO/comments/7is3oz/neo_slack_moving_to_discord/

![screen shot 2018-02-26 at 5 42 41 pm](https://user-images.githubusercontent.com/994683/36705942-7670a264-1b1c-11e8-9c8a-24165e066d8c.png)

I attempted this on my own, but there appears t

[2018-02-28 21:37] lucianoengel opened #123 "Export transactions to CSV"
add option to export all tx from an address, for tax purposes

[2018-03-04 19:01] lucianoengel commented on #121
fixed :)

[2018-03-04 19:01] #121 closed

[2018-03-04 19:02] lucianoengel commented on #35
next version is introducing nep5 tokens

[2018-03-04 19:02] #35 closed

[2018-03-04 20:16] slipo opened #124 "Block count -1 + tx page error."
Trying to run latest master in docker connected to the privnet image and seeing this:

<img width="316" alt="screen shot 2018-03-04 at 3 14 48 pm" src="https://user-images.githubusercontent.com/327999/36950076-dea5d254-1fbe-11e8-9aa3-6375b7ef6bd3.png">

In console it seems to index all the blocks tho..

Also at http://localhost:4000/transactions/1 I see:
[code]

[2018-03-05 02:17] lucianoengel commented on #124
the counter shows -1 when the sync starts, it should update in 30s when the next msg from the server is broadcasted. The last build has a lot of changes and needs the DB to be reset. If you don't, it will find inconsistencies and won't be able to keep the sync process. It also uses http://notifications.neeeo.org/ to get nep5 notifications for main net, so it won't work for private net, you'd need

[2018-03-05 02:17] #124 closed

[2018-03-10 16:32] arrangilligan opened #126 "** (Mix) The database for Neoscan.Repo couldn't be created: an exception was raised:"
Anyone know about this?
![screenshot from 2018-03-10 17-30-17](https://user-images.githubusercontent.com/11330026/37244412-ff3973da-2488-11e8-8c94-6b102f21c0ac.png)

[2018-03-10 16:41] arrangilligan commented on #126
Erlang/OTP 21 [DEVELOPMENT] [erts-9.2.1] [source-88f654a] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe]

Mix 1.7.0-dev (24790a8) (compiled with OTP 21)

[2018-03-10 19:28] lucianoengel commented on #126
Did you set up postgres with the same user and password as in  https://github.com/CityOfZion/neo-scan/blob/master/apps/neoscan/config/dev.exs ?

[2018-03-10 19:28] #126 closed

[2018-03-10 20:37] arrangilligan opened #127 "** (UndefinedFunctionError) function Poison.encode!/1 is undefined (module Poison is not available)"
no poison module?
![screenshot from 2018-03-10 21-36-26](https://user-images.githubusercontent.com/11330026/37246545-31bfc044-24ab-11e8-8520-4878454e1dff.png)

[2018-03-12 14:47] lucianoengel commented on #8
Updating Hackney to newest version solved the problem.

[2018-03-12 14:47] #8 closed

[2018-03-13 14:10] lucianoengel commented on #127
I can't reproduce that error. Did you run mix deps.get?

[2018-03-13 14:10] #127 closed

[2018-03-16 13:40] lucianoengel opened #130 "Create Scrip Builder For InvokeScript Calls"
Improve the current state of elixir vm by creating an script builder for InvokeScrip calls.

example in JS: https://github.com/CityOfZion/neon-js/blob/master/src/sc/ScriptBuilder.js

Should be able to make a sucessfull rpc InvokeScript call for any token information.

[2018-03-16 13:46] lucianoengel opened #131 "Elixir VM"
Create a functional Elixir neo VM, as neo-python. A wrapper is fine.

[2018-03-16 22:44] arrangilligan opened #132 "npm install apps/neoscan_web/assets"
apps/neoscan_web/assets

![screenshot from 2018-03-16 23-42-31](https://user-images.githubusercontent.com/11330026/37547733-bd9bc6b8-2973-11e8-87ef-e61f3c53eecc.png)

[2018-03-16 23:48] #132 closed

[2018-03-23 03:06] Keith-CY opened #135 "How to deploy with docker"
Thx for this project.

I'm not very familiar to docker so I follow the guide which works well locally

- `docker-compose up -d`

- `docker exec -it neoscan_phoenix_1 sh`

- `cd /data`

- `mix deps.get`

- `mix ecto.create && mix ecto.migrate`

Then I got an error ` The database for Neoscan.Repo couldn't be created: an exception was raised:` which seems to require `neoscan_*` in postgres docker.

T

[2018-03-23 21:39] lucianoengel commented on #135
Hello, I think you need to change the  hostname from localhost to postgres in the config files in the neoscan app.

[2018-03-23 21:39] #135 closed

[2018-03-26 02:59] Keith-CY commented on #135
Now it works well, thank you.

[2018-03-28 19:44] kokahunter opened #136 "tx fee values display"
From my visual inspection (haven't looked into the code), it seems like neo-scan displays no decimal places for fees.
Because of that I see an issue for example with displaying following tx: https://neoscan.io/transaction/c920b2192e74eda4ca6140510813aa40fef1767d00c152aa6f8027c24bdf14f2

In: 40
Out 39.999
Net fee displays zero but is 0.001.

[2018-03-31 00:29] avultur opened #137 "pending GAS transaction for >24h"
https://neoscan.io/address/AceWB7eDJsDZiJ99cUx6xbE341B9hs1v8s

[2018-04-03 00:29] lucianoengel commented on #137
?

[2018-04-03 00:29] #137 closed

[2018-04-03 00:29] lucianoengel commented on #136
@kokahunter good catch! Thanks!

[2018-04-03 00:44] avultur commented on #137
I sent 4.64224 GAS, on 2018-03-29 | 18:23:56, from Binance to Kucoin at AceWB7eDJsDZiJ99cUx6xbE341B9hs1v8s and it still has only 4 confirmations from 6 minimum required. Txid:89b27789d08720386e738d3661d022e52826aa0097c9add798c0516981fdb328

[2018-04-03 00:49] avultur opened #138 "pending GAS transaction for > 3 days"
I sent 4.64224 GAS, on 2018-03-29 | 18:23:56, from Binance to Kucoin at AceWB7eDJsDZiJ99cUx6xbE341B9hs1v8s and it still has only 4 confirmations from 6 minimum required. Txid:89b27789d08720386e738d3661d022e52826aa0097c9add798c0516981fdb328
https://neoscan.io/transaction/89b27789d08720386e738d3661d022e52826aa0097c9add798c0516981fdb328

[2018-04-03 00:52] avultur commented on #138
actually more than 4 days

[2018-04-03 01:15] lucianoengel commented on #138
The transaction is there. This has nothing to do with the block explorer.

[2018-04-03 01:15] #138 closed

[2018-04-03 01:16] avultur commented on #138
yes...  :|  thnx

[2018-04-06 14:49] brianlenz opened #139 "NEP-5 negative balance for smart contract addresses"
Just discovered negative balances on two of our smart contract addresses:

https://neoscan.io/address/AZXKdEc2M73qeQMmPj2zmKJFDWmzQf8Gyr
https://neoscan.io/address/AepnUu5Aq4rhgejET6QFegxFR1HDScbTyK

They're showing negative balances of `-33,232,532.0` and `-1.26292e7`, respectively. Those are actually the total supply values for the NRVE and NRV tokens, so it looks like neoscan is treating the mi

[2018-04-06 14:50] brianlenz opened #140 "Show NEP-5 symbol next to balance"
It's awesome that neoscan supports NEP-5 tokens now. Nice work! One added touch that would be nice is if you displayed the token symbol next to the balance since people will be used to seeing the symbol (and not necessarily always the token name). I think it's cool having the token name as the header as you have right now, but it might be a nice added touch to show the symbol next to the balance d

[2018-04-06 21:29] lucianoengel commented on #139
Hello @brianlenz! This behavior is expected (for now). The notification database has only transfer notifications, not minting. So, addresses issuing tokens will always have a negative value that equals the total supply available. I can detect these negative values and display them as issued tokens, but in this first version I left it like this to track how things are working. I feared that corrupt

[2018-04-06 21:30] lucianoengel commented on #140
Thanks @brianlenz! Yeah that is a good idea, will change that! :)

[2018-04-06 22:04] brianlenz commented on #139
OK, gotcha! It's definitely challenging since these SC addresses could technically have a valid, positive NEP-5 token balance, too. That definitely makes it more challenging of a problem to solve. Sounds like you're on top of it 👍

[2018-04-10 14:06] #136 closed

[2018-04-11 14:32] yurii-cnw commented on #126
@arrangilligan Did you resolve the problem? I have the same one.

[2018-04-17 12:54] naetkss opened #142 "add method for transactions get_last_transactions_by_address"
pls add method for transactions get_last_transactions_by_address

[2018-04-17 14:40] lucianoengel commented on #142
there's alredy this method. https://neoscan.io/doc/Neoscan.Api.html#get_last_transactions_by_address/2

[2018-04-17 14:40] #142 closed

[2018-04-19 07:49] AlleniCode opened #143 "Where is the Assets in NEOSCAN?"
![wechatimg58](https://user-images.githubusercontent.com/8855341/38977917-5ae3ebec-43e8-11e8-82ea-958bd63008d7.jpeg)

How to search the assets in NEOSCAN?

I can find the assets（资产）a few days ago, but I cannot find it now!

I want to search the token hash, how can I do this?

[2018-04-19 16:16] lucianoengel commented on #143
It was taken out as requested by neo-council

[2018-04-19 16:16] #143 closed

[2018-04-23 10:52] AlleniCode opened #144 "Why can't I get a right transaction history in the test net?"
My address: AR4iFxFdbjTkHKtStSKRvu5bgXXBcpZx9D

https://neoscan-testnet.io/api/test_net/v1/get_address_abstracts/AR4iFxFdbjTkHKtStSKRvu5bgXXBcpZx9D/1

[2018-04-23 11:01] lucianoengel commented on #144
Because testnet is resyncing. Always check the last block to see if the chain is fully synced

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: AlleniCode <notifications@github.com>
Sent: Monday, April 23, 2018 7:52:34 AM
To: CityOfZion/neo-scan
Cc: Subscribed
Subject: [CityOfZion/neo-scan] Why can't I get a right transaction history in the test net? (#144)

M

[2018-04-23 13:50] #144 closed

[2018-04-27 18:24] ianaz opened #147 "Chart not showing correctly"
In some cases the chart isn't showing correctly.

For ex: https://neoscan.io/address/Aesadb7bQWWHRPqikF9ikZgTMRf8DpQdTe

Google Chrome Version 65.0.3325.181

![chart](https://user-images.githubusercontent.com/1556466/39378557-0447d088-4a59-11e8-9d3d-a0f97fd8403f.png)

[2018-04-27 21:45] drptbl opened #148 "Names of currencies are not visible in drop-down under graph before mouse hover"
**Environment:**
Win 10 Home (64 bit) Version 1709 Build 16299.371

**Browsers:**
Chrome 66.0.3359.139 (64 bit)
Microsoft Edge 41.16299.371.0 (16.16299)

**Example url:**
https://neoscan.io/address/AQqGGzkDmKChdBx3Jtx1MiZHhn8hvTsxi9

**Description:**
Names of currencies are not visible in drop-down under graph. They're visible after hovering on them with mouse.

**Screenshots:**
*Chrome:*
![chrome

[2018-04-27 21:50] drptbl opened #149 "[TestNet] Error 500 after going to address page"
**Environment:**
Win 10 Home (64 bit) Version 1709 Build 16299.371

**Browser:**
Chrome 66.0.3359.139 (64 bit)

**Example url:**
https://neoscan-testnet.io/address/AK6SD7ZuZZkNPDi5SX9WkeELReob6tPBXQ

**Description:**
Getting internal server error after going to my personal address page.

[2018-04-27 21:52] drptbl opened #150 "[TestNet] Error 500 after going to addresses page"
**Environment:**
Win 10 Home (64 bit) Version 1709 Build 16299.371

**Browser:**
Chrome 66.0.3359.139 (64 bit)

**Example url:**
https://neoscan-testnet.io/addresses/1

**Description:**
Getting internal server error after going to addresses page.

[2018-04-27 21:52] drptbl opened #151 "[TestNet] Error 500 after going to transactions page"
**Environment:**
Win 10 Home (64 bit) Version 1709 Build 16299.371

**Browser:**
Chrome 66.0.3359.139 (64 bit)

**Example url:**
https://neoscan-testnet.io/transactions/1

**Description:**
Getting internal server error after going to transactions page.

[2018-04-27 21:58] drptbl opened #152 "[TestNet] Error 500 after going to transaction page"
**Environment:**
Win 10 Home (64 bit) Version 1709 Build 16299.371

**Browser:**
Chrome 66.0.3359.139 (64 bit)

**Description:**
In most cases I'm getting internal server error after going to transaction pages. While going through "Last 5 Transactions" section and opening each transaction it seems that some of them works and some don't. I've found three different states of transaction pages:
1. In

[2018-05-03 06:52] bitcodernull opened #159 "the nep5 transcation is not correct"
https://neoscan.io/transaction/20a75e9da1d7d1d9a5a73f9fd75a510cc78831a69fdc0d6ce1c5185d96f19a79

the transaction have not transfered tokens

[2018-05-04 13:57] evanjbowling opened #160 "`get_last_transactions_by_address` API not paginating"
So far, all queries to the above API return the exact same set of transactions no matter which `page` value I use. The [`get_last_transactions_by_address` docs](https://neoscan.io/doc/Neoscan.Api.html#get_last_transactions_by_address/2) don't describe the format of the `page` value, but I could tell by [examining the code](https://github.com/CityOfZion/neo-scan/blob/master/apps/neoscan/lib/neoscan

[2018-05-07 23:13] brianlenz opened #163 "Support removal of invalid/defunct NEP-5 tokens"
It would be nice if there was an internal way to manage a list of valid (or perhaps invalid/defunct) NEP-5 tokens in Neoscan. I know that Neotracker.io is handling this by manually curating the [list of assets](https://neotracker.io/browse/asset/1).

In the case of Narrative, there was an original smart contract deployed for NRV (`2e25d2127e0240c6deaf35394702feb236d4d7fc`), but that token is now d

[2018-05-08 08:12] SephirothLT commented on #84
It happened again  @snowypowers

[2018-05-08 08:17] lucianoengel commented on #84
@SephirothLT please, if you think there's something wrong give more information about what is happening. This is a place for code bug reporting, not costumer support.

[2018-05-08 08:25] lucianoengel commented on #159
this is a issue with people using transfer without notifications. If there's no notifications the neo-python notifications DB won't have a notification and therefore neoscan won't have it as well. There's no solution for this problem right now, as I'd have to find and add the missing transfers manually.

[2018-05-08 08:28] SephirothLT commented on #84
[http://api.wallet.cityofzion.io/v2/address/claims/AQXEiXqFExFfGYe5WwbyCX3cSxYk31WVJd](http://api.wallet.cityofzion.io/v2/address/claims/AQXEiXqFExFfGYe5WwbyCX3cSxYk31WVJd)
RESULT:
`{
    "address": "AQXEiXqFExFfGYe5WwbyCX3cSxYk31WVJd",
    "claims": [],
    "net": "MainNet",
    "total_claim": 0,
    "total_unspent_claim": 0
}`

NEOSCAN:[https://neoscan.io/address/AQXEiXqFExFfGYe5WwbyCX3cSxYk31WV

[2018-05-08 08:30] lucianoengel commented on #84
@SephirothLT there's nothing wrong with the above.

[2018-05-08 08:32] SephirothLT commented on #84
first link   :"total_unspent_claim": 0
 neoscan link: 0.00000252 Unclaimed Gas
the number is not matched

[2018-05-08 08:33] lucianoengel commented on #84
yes because that's the unavailable+available amount. The api only return the available amount.

[2018-05-08 08:36] lucianoengel commented on #84
that's the unavailable amount. It doesn't matter. It's wrong because api.wallet is deprecated and 4000 blocks behind the current block height

[2018-05-08 08:42] SephirothLT commented on #84
so  the" api.wallet" can't use anymore?

[2018-05-08 09:32] SephirothLT commented on #84
so  the problem is doesn't matter?   the block synced completed then  the result is right? please
@lucianoengel

[2018-05-08 10:17] lucianoengel commented on #84
there's no problem, just use neoscan.

[2018-05-09 00:53] SephirothLT commented on #84
Thanks!

[2018-05-09 05:06] bitcodernull commented on #159
thanks

the transaction is not really successful ?
the tokens is not transfered between users?

[2018-05-09 08:06] lucianoengel commented on #159
This is a explorer, it has nothing to do with the transaction itself. If the tokens aren't in your wallet then they were transferred.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: bitcodernull <notifications@github.com>
Sent: Wednesday, May 9, 2018 2:06:05 AM
To: CityOfZion/neo-scan
Cc: LucianoEngel; Comment
Subject: Re: [CityOfZion/neo-scan] the nep5 tran

[2018-05-11 23:03] soundasleep opened #165 "500 Internal Server Error for API get_address()"
https://neoscan.io/api/main_net/v1/get_address/ATQt1VwQN9nkprx7XKXTsbdATg3t3eBjKX

Is currently returning a 500 Internal Server Error. It appears to be throwing this error for any valid address.

[2018-05-12 10:44] #31 closed

[2018-05-12 10:56] lucianoengel commented on #165
it worked for me.

[2018-05-12 11:13] lucianoengel commented on #160
Ok, caught the bug! thanks for pointing it out :)

[2018-05-12 11:13] #160 closed

[2018-05-13 23:02] soundasleep commented on #165
It's working now. I guess it was down for a while. Thanks!

[2018-05-13 23:02] #165 closed

[2018-05-14 05:56] bitcodernull commented on #159
i know it has do nothing with the transaction :)

i think the explore maybe have a bug, the transaction is not really successful ,but the explore show the token has been  transfered

[2018-05-17 18:46] j4ys0n opened #173 "More detailed instructions to run neo scan."
Hello,

I'm finding the instructions to run the block explorer a little difficult to follow. It's not very clear on how to actually get it running. I've tried `docker-compose up -d` but that doesn't seem to do everything. It tells you to go to `/data` where there's another Dockerfile, but docker isn't installed. Am I supposed to install docker inside the container and run a container in the contai

[2018-05-18 08:48] adrienmo commented on #173
Hi @j4ys0n are you trying to run neo-scan for development or just to run it locally ?
Maybe the misunderstanding comes from the 2nd command:
- `docker-compose up -d`
- `docker exec -it neoscan_phoenix_1 sh`
- `cd /data`

Right now the name is not fixed so it depends on your folder name, maybe you need to run:

`docker exec -it neo-scan_phoenix_1 sh`

the rest of the commands seems correct "To star

[2018-05-18 16:27] #173 closed

[2018-05-18 16:27] #159 closed

[2018-05-18 16:31] j4ys0n commented on #173
I'm not sure why this was closed.

I'm interested in running this in production and being able to host on my own vps. The goal is to be able to use the API endpoints.

[2018-05-18 16:36] lucianoengel commented on #173
this was closed because you didn't provide any feedback from our answer.

[2018-05-18 16:37] j4ys0n commented on #173
please allow more time. i was sleeping.

[2018-05-18 16:41] lucianoengel commented on #173
no problem, if you still can't run it, have any trouble or suggestions to improve the readme I'll open it again.

[2018-05-18 16:41] j4ys0n commented on #173
i still can't run it. i'm not looking for dev, i need to run a production node and use the api.

[2018-05-18 16:58] lucianoengel commented on #173
Well, to run you just need to execute the commands as stated in the readme. It doesn't matter what you'll be using it for.

[2018-05-18 17:03] j4ys0n commented on #173
I tried the steps yesterday and they didn't work. Also, I don't want to use localhost as this is on a VPS. the dockerfile doesn't seem to bind port 4000 so that it can be accessed remotely.

[2018-05-19 03:12] adrienmo commented on #173
@j4ys0n
After verification it seems there were indeed some issue in the description, this is now fixed, you can follow those exact step to get it running:

[code]

you should be able to access to http://localhost:4000 a little while after

[2018-05-19 03:14] j4ys0n commented on #173
awesome! thank you. i will try it.

[2018-05-19 17:14] igormcoelho opened #179 "Show block number and info timestamp on transaction"
On transactions route (ex: https://neoscan.neocompiler.io/transactions/1) it would be useful to have the block number (with a link) together with the "completed on" (so a general panoram on how often blocks are being used and how much load is carried).
Another useful information would be to have the REAL timestamp when the information is added to neoscan and when it was added on the blockchain (I

[2018-05-19 18:33] lucianoengel commented on #179
There's a link to the block and the completed on information as well, in the transaction page. I don't see a point in showing the time in which it was added to neoscan, everytime I resync the chain that changes. Also, the time it was added on the blockchain and the time it was completed are just the block timestamp. There's no time difference in transactions inside a block. Your goal is determine

[2018-05-20 02:49] adrienmo opened #180 "to_atom function should not be called for dynamic value"
Erlang system limits the number of atoms. Function String.to_atom should only be called if the possible value are limited.

![image](https://user-images.githubusercontent.com/3918750/40275194-f3a46d56-5c12-11e8-9a0a-ebc3448505bb.png)

After a quick search into the codebase, those are the culprits:

![image](https://user-images.githubusercontent.com/3918750/40275199-11befc2a-5c13-11e8-8ed3-e1e2fe45

[2018-05-20 10:51] #180 closed

[2018-05-21 01:04] igormcoelho opened #183 "Please start using tags"
Please, it would be very nice to have some tags on this project, indicating "apparently" stable versions. It's hard to have all master versions considered stable :)

[2018-05-21 07:02] adrienmo commented on #183
Hi @igormcoelho, I am not sure to understand your request.

Master branch is stable, pull request will be only merged after code quality/unit test/ integration test/ test on staging is done. As soon as a feature is ready, it should be merged to master and deployed to production ASAP, this is continuous delivery.

Is there something I am missing here?

[2018-05-22 14:01] #183 closed

[2018-05-22 14:01] #179 closed

[2018-05-22 15:03] igormcoelho commented on #183
Hi @adrienmo it's just that I have never seen any project before that do not use release tags :) I'm not Software Engineering expert, but usually this is made for showing to the community that the product (in that version) was heavily tested and it is stable, also showing that one specific API is stable (and won't change too much, according to Semantic Versioning). Since there are no tags, we endu

[2018-05-22 19:36] igormcoelho commented on #179
I just realized I could use neoscan API to get_block timestamp (in original times), that was enough for my use case. Thanks a lot!

[2018-05-23 11:35] conscott commented on #140
I think it may also useful to have the scripthash as well, as many people will want to query with that.

Consider something like Switcheo where the asset name is identical for SWH and SWTH. Getting balance of something like:

https://neoscan.io/api/main_net/v1/get_address/AdnW6aabas6pTndY1RTnZDPVxsC5Xe2JwC

just lists "Switcheo" twice, and it is ambigious which contract is token is which contract.

[2018-05-24 20:04] evanjbowling commented on #160
This issue is still not resolved - the queries above still all resolve to the same values. Can you look into it again and reopen this issue until it is resolved?

Thanks!

[2018-05-24 20:06] evanjbowling commented on #142
@naetkss I have not successfully been able to use this api yet - anytime I change the page value I still get the same response from the server. See issue #160 that I created - hopefully this will get resolved soon

[2018-05-24 20:08] lucianoengel commented on #142
it is resolved on api.neoscan.io

[2018-05-28 13:02] sdbkwilia opened #197 "Issue in balances (both on site and via API)"
Hi,

Found this while perusing the API but the website is also affected.
Address used for testing: AHJTn3Mqmrfh6Vf77VqQqXNmcfvTaQZyWw.

So looking this up in neotracker brings up the correct values:
https://neotracker.io/address/AHJTn3Mqmrfh6Vf77VqQqXNmcfvTaQZyWw.

Bringing this up in neoscan gets the following:
https://neoscan.io/address/AHJTn3Mqmrfh6Vf77VqQqXNmcfvTaQZyWw

Which as you can see lo

[2018-05-28 13:32] sdbkwilia commented on #197
So should the fix be done in a different project (neo-python/core) or is the issue pertinent to this project specifically? Or is it a 'will not fix' type answer? A little ambiguous..

[2018-05-28 13:37] lucianoengel commented on #197
This is a problem with non-standard transfer methods that do not log it to the vm. If there's no log for some transfers, there's no way of explorers or neo-python to see that a transfer has been made. I can't say where exactly each missing transfer error comes from, but it's not neoscan related.

[2018-05-28 13:39] sdbkwilia commented on #197
Right, thanks for explaining that. So rather plainly put I guess this will/should be closed and I should not rely on neoscan for address balances (for now). Would that be a correct assumption?

[2018-05-28 13:41] lucianoengel commented on #197
Correct. The only reliable way to get correct nep5 token balances from any address is to make a call to the VM through InvokeScript.

[2018-05-28 17:19] #197 closed

[2018-05-30 17:43] conscott opened #199 "Testnet balance not showing on neo-scan API"
For the address `AL8abuPwBMmmvaj1EttZr6B6R7NDoXBsm6`

The RPC interface gives correct testnet balance:

[code]

but NeoScan API does not:
[https://neoscan-testnet.io/api/test_net/v1/get_balance/AL8abuPwBMmmvaj1EttZr6B6R7NDoXBsm6](https://neoscan-testnet.io/api/test_net/v1/get_balance/AL8abuPwBMmmvaj1EttZr6B6R7NDoXBsm6)

Curious if anyone knows why.

[2018-05-30 18:50] lucianoengel commented on #199
Yes, testnet is still syncing with the new version. Once sync is done it should be fine

[2018-05-30 18:50] #199 closed

[2018-05-30 23:43] drptbl commented on #149
Fixed.

[2018-05-30 23:43] #149 closed

[2018-05-30 23:43] drptbl commented on #150
Fixed.

[2018-05-30 23:43] #150 closed

[2018-05-30 23:43] drptbl commented on #151
Fixed.

[2018-05-30 23:43] #151 closed

[2018-05-30 23:43] drptbl commented on #152
Fixed.

[2018-05-30 23:43] #152 closed

[2018-05-30 23:58] drptbl opened #200 "Transactions list for an address should consider users local time"
Currently it looks like neoscan is always using defined timezone to show date and time of transactions on address page. It should consider users local time zone.

Address page shows a time without consideration of users local time zone (wrong), for example:
https://api.neoscan.io/address/ANaFjoDwh4uof6yiR6PkK7w62YuRSxuEM2
Local time: 01:54:30 | Neoscan time: 23:54:30 (2 hours behind)
![bad](https:

[2018-05-31 05:31] conscott commented on #199
Is there anywhere I can get a progress update on that? Is this something that takes hours or days?

[2018-05-31 11:56] lucianoengel commented on #199
yes, and yes. Just watch the last block on the landing page. There's a date and time in the block as well, you can see when it reaches present time.

[2018-06-02 04:56] adrienmo commented on #17
Now we reached 83% code coverage I think we can close this issue

[2018-06-02 04:56] #17 closed

[2018-06-02 15:39] leberschnitzel opened #205 "ASA / Asura Token missing"
ASA / Asura token not shown on wallet addresses.

[2018-06-03 18:27] ixje opened #207 "neoscan kernel pid terminated while not operating network for a while"
I had neo-local just running for a while in my background without interacting with the privatenet network and it ended up throwing the below error and shutting down. I figured I'd drop it here to judge
[code]

[2018-06-03 18:31] lucianoengel commented on #207
Your local nodes are timing out.
________________________________
From: Erik vd Brink <notifications@github.com>
Sent: Sunday, June 3, 2018 3:27:58 PM
To: CityOfZion/neo-scan
Cc: Subscribed
Subject: [CityOfZion/neo-scan] neoscan kernel pid terminated while not operating network for a while (#207)

I had neo-local just running for a while in my background without interacting with the privatenet net

[2018-06-03 18:34] ixje commented on #207
Yeah I noticed (not sure why). As far as I could tell neo-scan doesn't handle that case gracefully and crashes. I figured you might want to know about that so it can be addressed, or if you don't want to address that feel free to close the issue :)

[2018-06-03 18:38] lucianoengel commented on #207
Yes, thanks! In the latest build that should be fixed already I think.
________________________________
From: Erik vd Brink <notifications@github.com>
Sent: Sunday, June 3, 2018 3:34:23 PM
To: CityOfZion/neo-scan
Cc: LucianoEngel; Comment
Subject: Re: [CityOfZion/neo-scan] neoscan kernel pid terminated while not operating network for a while (#207)

Yeah I noticed (not sure why). As far as I could

[2018-06-12 13:21] aibric1407 opened #211 "Adding nep5 token to neoscan"
Hi,

I know this is not the place for questions but I have tried on discord and did not get any answer so I am hoping to find help here.

I have neoscan docker running with private net. After creating and deploying new token I am able to see it in my wallet but I am not able to see that token on neoscan. When trying to getBalance with neonjs using neoscan my token balance is not visible, it is vis

[2018-06-12 14:17] NinaCrypto opened #212 "Network fees and System fees"
Talking about Neoscan explorer >transaction information: I have pretty clear in mind what the system fees are, but can you explain what the network fees are and what is the difference between these 2 fields?

Also, what is the difference between an invocation and a contract? (already google it and search in the whitepaper but didn't find the difference). Thank you awesome community

[2018-06-12 18:48] lucianoengel commented on #211
if it is the last version of neo-local priv-net docker(that includes the neo-python notifications DB) it should pick nep5 tokens automatically. There's no support for nep5 in the older version.

[2018-06-12 18:48] #211 closed

[2018-06-12 18:50] lucianoengel commented on #212
Network fees are paid to consensus nodes and are meant to be used for priority execution of transactions. Sys fee is the price for neo-vm smart-contract executions. Invocations is a transaction that invokes a smart-contract and a contract transaction is a transference of UTXO assets.

[2018-06-12 18:50] #212 closed

[2018-06-15 13:17] leberschnitzel commented on #205
ASA is available as "Asura World Coin"

[2018-06-15 13:17] #205 closed

[2018-06-15 13:20] leberschnitzel opened #216 "Asura World Coin decimal spaces not correct on API"
Amount shows up as 6000000000000 instead of 60000.

Example:
https://neoscan.io/api/main_net/v1/get_balance/AKYC377tB97j2bowyFp9ALkvjbngT4CZq3
`{
   "balance":[
      {
         "unspent":[
            {
               "value":0.06345213,
               "txid":"b7ea56726d79a81c987bb798343405f78a74c28da31ffeccb47733e899e64cfd",
               "n":0
            },
            {
               "value

[2018-06-21 20:27] D0rk80 opened #220 "Help Needed Neo Explorer"
Hello,

I'm having a few issues

1. When the server reboots I have to go to the /neo-scan-master and run mix phx.server (not sure how to get this to run automatically but get this error after it runs for a bit:  heap_alloc : Cannot allocation 2343242342343 byts of memory (of type "old_heap"). I can browse the site for while before it does a crash dump.

2.  When I run mix phx.server using terminal

[2018-06-21 20:57] D0rk80 opened #221 "M1*1"

[2018-06-21 20:57] D0rk80 commented on #221
ddf

[2018-06-21 20:57] #221 closed

[2018-06-22 17:28] igormcoelho opened #222 "Fix word Atributte"
A typo is word "Atributte" => "Attribute"

[2018-06-22 22:50] lucianoengel commented on #220
Hello @D0rk80
1- Whats the machine configuration of your server?
2 - That's normal, it is filtering out non-responsive neo-nodes.
3 - No, there isn't. This is a public project.

[2018-06-24 23:04] SergeyAnkarenko opened #223 "Where blockchain is stored"
Where blockchain is stored? How can I specify blockchain directory.

[2018-06-25 09:20] adrienmo commented on #223
the blockchain is stored in a custom format which is the postgres database, what is your use case ?

[2018-06-25 09:20] adrienmo commented on #222
noted :)

[2018-06-25 09:40] vncoelho opened #224 "Previous block showing "no data""
Hey guys, it is just some minor details.

Since the previous block of the last block of a page is in another page O.o, the previous block wont exist.
ehauehauea

https://github.com/CityOfZion/neo-scan/blob/9b6327e817b40d25a53faa777f00b7c035ad94e1/apps/neoscan_web/lib/neoscan_web/views/blocks_view.ex#L75

I would like to fix, but I am not expert in these kind of scripts.

[2018-06-25 10:46] albertfle opened #225 "Error when do it mix ecto.create"
Hi,

I do it all commands  but when I try mix ecto.create, I get this error:

(Mix) Could not compile dependency :websocket_client, ".mix/rebar3 bare compile --paths "neo-scan/_build/dev/lib/*/ebin"" command failed. You can recompile this dependency with "mix deps.compile websocket_client", update it with "mix deps.update websocket_client" or clean it with "mix deps.clean websocket_client"

Can yo

[2018-06-25 12:36] lucianoengel commented on #224
yeah, we show "no data" because these blocks are in memory, and we'd need a DB query for the missing block.  I'll see what we can do, maybe keep an extra block in memory as well

[2018-06-25 12:38] lucianoengel commented on #225
Did you try the recommendations?

[2018-06-25 12:52] adrienmo commented on #224
@lucianoengel I am planning to do a sql query to solve that (WINDOW function: https://www.postgresql.org/docs/9.1/static/tutorial-window.html)

[2018-06-25 12:53] albertfle commented on #225
yes, I try it all recommendations.

[2018-06-25 12:59] vncoelho commented on #224
Thanks, @lucianoengel  and @adrienmo.

Furthermore, congratulation for the great project you are going carrying out.
Go for it.
There are just some minor things from now on.

[2018-06-25 13:04] SergeyAnkarenko commented on #223
I want to run my own server to use neoscan api. I have already running python-rpc on the same server. I was thinking if I can make neoscan and python-rpc to reference the same database.

[2018-06-25 13:05] SergeyAnkarenko commented on #223
Or at least use locally running python-rpc to synchronize blockchain. It must be much faster

[2018-06-25 13:09] vncoelho opened #227 "Neo-scan lagging behind"
Hey, people.

I am not sure if I am correct.
But I imagine that the Neo-Scan is lagging behind because of the notifications, which was coming from neo-neopy-rest and, apparently, recently coming from neo-cli-forked-rest (https://github.com/localhuman/neo-cli/tree/plugin-notification-restapi).

Considering the current importance that neoscan has in the EcoSystem, it is important to have the neo-sca

[2018-06-25 13:56] lucianoengel commented on #227
Hello @vncoelho thanks for the suggestions. We thought about some of these ideas in the refactor. follow ups:

1- This would cause the explorer to be "apparently" synced when in reality there's missing data. What's best from the user perspective: have an explorer out of sync or a synced one that do not show his transfers? I think that the latter would cause much more impact on users. The not "tran

[2018-06-25 14:01] lucianoengel commented on #223
there's no way to do that as is. They are completely different databases.

[2018-06-25 14:05] vncoelho commented on #227
1- But it would be not missing data, @lucianoengel. All data will be there, but just without the notifications.
    * I think that "waiting notifications" is the best approach for now, because would require any new implementation. It would just show the "raw tx" and, then, display the message.
     On the other hand, translate it in the frontend is a very light task! @igormcoelho can give us an in

[2018-06-25 14:10] SergeyAnkarenko commented on #223
Yes, I see. Thank you

[2018-06-25 14:48] lonelystowner opened #228 ""Internal server error" when searching for wallet address"
When searching for my specific wallet address, I receive "Internal Server Error" in black text on an all white page. There is no other information. I am able to search for other wallet addresses I've used, i am able to click on any wallet that I see on Neoscan, but when searching for my specific wallet I get the error. Every other wallet seems to load just fine. I have triple checked that I am usi

[2018-06-25 14:56] lucianoengel commented on #228
Hello @lonelystowner  can you share your address so we can debug?

[2018-06-25 16:08] lonelystowner commented on #228
my fault I meant to put that in the OP.

AZX5wCRTcPvdJF3Uavsrq4KWYNif6FreB4

[2018-06-25 22:32] D0rk80 commented on #220
1. 4 vcpus, 8gb of ram, ubuntu OS.
2.  How do you start the site without having to run the command. Why does it run out of memory when running from terminal?

[2018-06-25 23:00] SergeyAnkarenko commented on #223
How can I specify blockchain directory? I am using ubuntu 16.04 server and I want to store the blockchain on specific ssd disk.

[2018-06-26 00:22] lucianoengel commented on #223
There's no blockchain "directory", it uses postgres as database. Please, this is not a issue with neoscan, if you have any doubts setting up a postgres database there's plenty of documentation and places to look for help already.

[2018-06-26 00:22] #223 closed

[2018-06-26 00:29] lucianoengel commented on #220
I don't know why you are running out of memory, 8gb is more than enough. You need to investigate further, as I can't reproduce that error.

There's no way to start it without giving it a command... the feature that you're looking for might be the supervisor package (http://supervisord.org)

[2018-06-26 00:29] #220 closed

[2018-06-26 00:32] lucianoengel commented on #225
Sorry, I can't reproduce this error, you need to investigate further.

I'd try to check if your system has enough memory or reinstalling rebar. Take a look at https://github.com/elixir-lang/elixir/issues/3857

[2018-06-26 00:32] #225 closed

[2018-06-26 10:51] SergeyAnkarenko commented on #223
Now it's very  clear for me, thank you very much for detailed explanation

[2018-06-26 10:54] albertfle commented on #225
I get now a new error when I do the command mix ecto.migrate:

[root@neoscan-test neo-scan]# mix ecto.create
The database for Neoscan.Repo has already been created
[root@neoscan-test neo-scan]# mix ecto.migrate
2018-06-26 12:52:05.468 [info] [nonode@nohost] == Running Neoscan.Repo.Migrations.Blocks.change/0 forward
2018-06-26 12:52:05.469 [info] [nonode@nohost] create table blocks
** (Postgrex.Err

[2018-06-26 11:46] albertfle opened #229 "Error on postgre"
Hi, I do it dhe mix ecto.create fine and the database is create ok, but when I do it the command mix ecto.migrate I get this error:

[root@neoscan-test neo-scan]# mix ecto.migrate
2018-06-26 13:43:27.604 [info] [nonode@nohost] == Running Neoscan.Repo.Migrations.Blocks.change/0 forward
2018-06-26 13:43:27.604 [info] [nonode@nohost] create table blocks
** (Postgrex.Error) ERROR 42704 (undefined_obje

[2018-06-26 14:06] adrienmo commented on #229
Which version of postgres are you using ? it needs at least postgres 9.4 for the type jsonb

[2018-06-26 14:10] #229 closed

[2018-06-26 16:36] albertfle opened #230 "Change Nodes Privatenet"
I try to change the nodes of the project but the project don't start. It is possible?

thanks

[2018-06-27 10:15] adrienmo commented on #230
Please have a look here to start neo-scan with a docker image: https://github.com/CityOfZion/neo-local/

[2018-06-27 10:15] #230 closed

[2018-07-02 01:55] vncoelho commented on #228
@lucianoengel, adding something to the discussion.
In particular, this is a multi-sig address generated by first designed csharp privatenet with python genesis script.

[2018-07-02 15:13] lonelystowner commented on #228
If there is anything I can do to assist, please let me know. @lucianoengel  @vncoelho

[2018-07-02 15:54] vncoelho commented on #228
Hey @lonelystowner, in fact, it is a very good question you did.

I have been always wondering why this address had this error.
I would like to check this address for the mainnet, we should have a similar one there.

[2018-07-02 16:16] lonelystowner commented on #228
This should be a mainnet address already @vncoelho. I created this wallet a bit over a year ago and I created it using NEON wallet and my Ledger. If there is anything you would like me to try or do, let me know.

[2018-07-02 16:50] vncoelho commented on #228
I see, sorry, my mistake.
Because the first characteres of this base58 address are similar to the ones of the privatenet. In fact, the same internal error problem happens there.

[2018-07-02 17:59] lonelystowner commented on #228
Interesting @vncoelho I never tried it on testnet before. I wonder why just my address has this issue. I am not much of a dev though so I really have no idea, haha.

[2018-07-02 18:01] vncoelho commented on #228
Ok, anyway, if you want to check balance and it is bothering you, you could use direct RPC calls while it is not fixed.

[2018-07-02 18:10] lonelystowner commented on #228
Will do! Thanks @vncoelho

[2018-07-03 15:24] adrienmo commented on #7
The refactored version do not use a genserver anymore, a Task.async_stream approach is more "lightweight" and is better suited for our use case

[2018-07-03 15:24] #7 closed

[2018-07-05 08:56] adrienmo opened #231 "GAS market cap return 0"

[2018-07-07 07:53] adrienmo commented on #228
I think this is now resolve with the new version:

https://neoscan.io/address/AZX5wCRTcPvdJF3Uavsrq4KWYNif6FreB4

[2018-07-07 07:53] #228 closed

[2018-07-08 16:52] #231 closed

[2018-07-08 19:21] #224 closed

[2018-07-08 19:29] adrienmo commented on #207
@ixje This should be resolved in the latest version, I am closing this issue now, feel free to reopen if you still have an issue after update.

[2018-07-08 19:29] #207 closed

[2018-07-08 19:34] #222 closed

[2018-07-08 19:53] adrienmo opened #235 "generate automatically testnet neoscan version"
right now, testnet version must be generated manually from master in a different branch, to make the maintenance easier it should be generated automatically in the main branch. Maybe it could just be an option (env variable) for the docker image

[2018-07-08 19:56] adrienmo opened #236 "generate automatically neoscan api doc"
right now the doc is generated manually and then moved to neoscan_web. This is not the best solution for maintenance and it should be generated automatically.

[2018-07-08 21:04] adrienmo opened #237 "Improve block sync speed"
Sync speed has been enhanced thanks to the ability to insert block in any order. However block are still only inserted one by one because triggers can cause deadlock. postgresql structure should be modified to allow fast insertion by removing all row update at insertion and use a random flush mechanism

[2018-07-08 21:13] adrienmo opened #238 "Improve neoscan node manager"
neoscan node manager should be reviewed to make sure latest block can be downloaded as soon as it is available. To make sure all nodes are used, we could retrieve the list from: http://monitor.cityofzion.io/assets/mainnet.json

[2018-07-08 23:26] drptbl opened #239 "Remove "get_nodes" and "get_address" endpoints from API docs"
These endpoint has been removed in latest update.

We should also remove them from API docs:
https://neoscan.io/doc/Neoscan.Api.html#get_address/1
https://neoscan.io/doc/Neoscan.Api.html#get_nodes/0

[2018-07-09 02:40] lucianoengel commented on #239
this will be handled in #236

[2018-07-09 02:40] #239 closed

[2018-07-09 16:56] #200 closed

[2018-07-09 17:01] drptbl opened #242 "Dates on graph are too close to each other which makes them unreadable"
**Browser:**
Google Chrome 67.0.3396.99 (64bit)

**Example url:**
https://neoscan.io/address/ASEWSuhsSibkVkzHpLTLt2s1pKayMGiNDo

**Screenshot:**
![graph_dates](https://user-images.githubusercontent.com/8177587/42464830-88cb8554-83aa-11e8-82e3-57e33bfa9622.PNG)

[2018-07-09 17:08] drptbl opened #243 "Sometimes "GAS" is chosen in drop-down as asset visible on graph while "NEO" is shown by default"
**Browser:**
Google Chrome 67.0.3396.99 (64bit)

**Description:**
The issue is that NEO is always visible on graph by default, however drop-down for choosing an asset to be visible on graph is not always on NEO by default. This causes an issue when if you have NEO on graph and GAS in drop-down, then if you want to change graph to GAS you have to change GAS in drop-down to some other asset and then

[2018-07-09 17:16] drptbl opened #244 ""Sent from" label is missing in transaction with NEP-5 token only"
**Browser:**
Google Chrome 67.0.3396.99 (64bit)

**Description:**
If there's nothing more added to the tx than NEP-5 token, "Sent from" label is not visible:
https://neoscan.io/transaction/577521f0fb1a629cd24ea12afb693d7d77c55d2a5d7c24314d9f478a5cf58d3a

**Screenshot:**
![sent_from_miss](https://user-images.githubusercontent.com/8177587/42465502-74003a82-83ac-11e8-9e9c-187435ff72b0.PNG)

As you ca

[2018-07-09 17:19] drptbl opened #245 ""Attribute: Remark" and "Bytecode Script" sections are misplaced on transaction details page"
**Browser:**
Google Chrome 67.0.3396.99 (64bit)

**Example url:**
https://neoscan.io/transaction/577521f0fb1a629cd24ea12afb693d7d77c55d2a5d7c24314d9f478a5cf58d3a

**Screenshot:**
![frontend](https://user-images.githubusercontent.com/8177587/42465692-02e4ea9a-83ad-11e8-86a8-24ca0dd6abb2.PNG)

[2018-07-10 07:24] adrienmo opened #246 "support to mint/burn events"
Right now, only transfer information from notification server is recorded, we should also listen to burn and mint event

[2018-07-10 07:37] adrienmo commented on #9
@lucianoengel I am going to close this issue as I plan to redo the whole frontend using only react.

[2018-07-10 07:37] #9 closed

[2018-07-10 13:24] adrienmo opened #247 "Make neoscan deployable on a kubernetes cluster"

[2018-07-10 13:25] adrienmo opened #248 "Migrate front-end to pure React/JS project"

[2018-07-10 13:26] adrienmo opened #249 "Create a graphql API"

[2018-07-10 13:28] adrienmo opened #250 "Change data schema for scripts, script, contract transaction field"
As optional and json element of the transaciton they should all be put in an "extra" jsonb field. Right now they are put into the scripts field

[2018-07-10 13:29] adrienmo opened #251 "Change data schema for asset name"
asset name should be parsed at insertion rather than calling the filter_name function.

[2018-07-10 13:59] adrienmo opened #252 "if a resource is not found, return error 404 instead of 500"

[2018-07-10 14:00] adrienmo opened #253 "store transaction value as integer or decimal type instead of float"

[2018-07-10 15:04] adrienmo opened #255 "Remove erts from elixir release to reduce docker image size"

[2018-07-10 15:05] #216 closed

[2018-07-11 17:39] adrienmo opened #256 "Delay between block is incorrect when delay > 60 seconds"
epoch function instead of second should be used

[2018-07-11 18:37] #256 closed

[2018-07-11 20:05] #147 closed

[2018-07-11 20:05] #242 closed

[2018-07-11 20:05] #243 closed

[2018-07-12 08:57] #244 closed

[2018-07-12 08:57] #255 closed

[2018-07-12 10:43] adrienmo commented on #139
duplicate with #246

[2018-07-12 10:43] #139 closed

[2018-07-13 10:22] #236 closed

[2018-07-19 07:38] #235 closed

[2018-07-20 05:22] yongjiema opened #267 "The unit testing is calling the actual servers as token URLs are not matched"
The unit testing `get/3` is calling the actual servers as below token URLs are not matched:

- http_calls_test.exs: http://notifications1.neeeo.org/v1/tokens
- http_poison_wrapper.ex: http://notifications1.neeeo.org/v1/tokens?page=1

[2018-07-20 06:09] adrienmo commented on #267
Hello @yongjiema good catch, can you add this fix to your pull request? Thanks!

[2018-07-20 06:13] yongjiema opened #268 "Invalid height is returning from get_node_height/1"
The function `get_node_height/1` calls the API `getblockcount` from blockchain, so current height should be `blockcount - 1`.

[2018-07-20 06:29] yongjiema commented on #267
@adrienmo  My pleasure, what about my pull request #266? the fix will change the same place in `http_calls_test.exs`, I worry about the conflict here.

[2018-07-20 10:36] yongjiema opened #269 "The transaction vin order should be kept"
For example, the sequence of vin is [4 NEO, 3 NEO, 40 NEO]
- UI: https://neoscan.io/transaction/8E23D99DA5D2BC836D9D31846AC26A33C9CDD07ACDF2568CCE8BCA71912AFD54
- API: https://neoscan.io/api/main_net/v1/get_transaction/8e23d99da5d2bc836d9d31846ac26a33c9cdd07acdf2568cce8bca71912afd54

but the sequence of vin from blockchain is [40 NEO, 3 NEO, 4 NEO]
- Blockchain: http://seed1.redpulse.com:10332?id=

[2018-07-21 08:47] adrienmo commented on #268
@yongjiema wording is indeed important, I guess we can rename the function name to get_block_count/1

[2018-07-21 08:52] adrienmo opened #271 "Transaction abstract is showing claim instead of mint"
example, transaction `75b97f6f6fd6b29e4d1fcf566ee151aacd02242494b8bde3012948e5b6345871` from address `ATuT3d1cM4gtg6HezpFrgMppAV3wC5Pjd9`

https://neoscan.io/api/main_net/v1/get_address_abstracts/ATuT3d1cM4gtg6HezpFrgMppAV3wC5Pjd9/1

[code]

should show instead:

[code]

[2018-07-21 08:53] adrienmo commented on #267
#266 is now closed :)

[2018-07-21 09:33] #267 closed

[2018-07-21 09:33] #271 closed

[2018-07-21 09:58] adrienmo opened #273 "Optimize missing block sql query"
Right now, at startup, neoscan will check any missing block in the db, it will make a sequential scan of block index, this command takes around 20 seconds with 2 million block. This can be improved by limiting the number of blocked checked: a limit in the query could be used to check only the last N blocks, N being the number of block downloaded in parallel in the syncer code.

[2018-07-21 10:21] yongjiema commented on #268
@adrienmo Sounds great! Would you like the pull request from me? The changes will be as following:

1. Change `get_current_height` to `get_block_count`;
2. Update `get_node_height`;
3. Update the unit testing.

[2018-07-21 10:35] adrienmo commented on #269
@yongjiema while vout order is important as it is used to specify a vin, I think the sequence of vin has little importance, I guess it will be better to just use the same order returned by the nodes, but except from display point of view is there another reason that will make this bug a higher priority?

[2018-07-21 10:37] adrienmo commented on #268
@yongjiema sounds like a plan, please feel free to submit a PR :)

[2018-07-21 14:42] yongjiema commented on #268
@adrienmo PR is submitted.

[2018-07-22 02:07] yongjiema commented on #269
I just noticed it will be potential issue here.

[2018-07-22 16:02] #268 closed

[2018-07-22 21:41] adrienmo opened #276 "Network/system fee is not reported correctly in abstracts"
https://neoscan.io/api/main_net/v1/get_address_abstracts/AQcxz3gj42aZ74ymenykJuiMKBZqarFX6y/1
https://neoscan.io/transaction/c920b2192e74eda4ca6140510813aa40fef1767d00c152aa6f8027c24bdf14f2

[code]

should be instead

[code]

[2018-07-23 09:04] #276 closed

[2018-07-23 09:16] adrienmo commented on #269
I'm changing the label to enhancement as I don't see any urgent reason to deal with it. I guess a way to solve this issue is to change the vin mode to add an "index" field, this index can be derived from the json response of the node for a block. When displaying the vins we can then just do an "order_by" index for the vin.

[2018-07-23 10:05] yongjiema commented on #269
I agree with the plan, it's not urgent for me either. Do you welcome the PR from me for the enhancement?

[2018-07-23 10:35] adrienmo commented on #246
to be dealt with later.

[2018-07-23 10:35] #246 closed

[2018-07-24 07:56] adrienmo opened #280 "Query string should be safely parsed and return proper error messages"
query string paramater can be a number/ base16/base58, all endpoint should check the type and return a clear error message instead of a 500 error.

[2018-07-25 03:32] yongjiema opened #283 "Getting internal server error for non-existing transactions"
e.g. Getting `Internal server error` from https://neoscan.io/transaction/0000000000000000000000000000000000000000000000000000000000000000

[2018-07-25 13:05] adrienmo commented on #283
this is a duplicate for #280 all parameters should be safely parsed.

[2018-07-25 13:05] #283 closed

[2018-07-25 13:05] adrienmo opened #286 "Block gas calculation are not optimized"

[2018-07-25 14:32] adrienmo opened #288 "Test entropy get_claimed/:hash"
order of txid make test fail sometimes, use a sorting command: https://gitlab.com/CityOfZion/neo-scan/-/jobs/84295917

[2018-07-25 16:31] #273 closed

[2018-07-25 16:31] #286 closed

[2018-07-25 20:13] adrienmo commented on #269
@yongjiema yes you can do a PR, but it will require a resync so it is harder to handle in release cycle

[2018-07-25 20:51] adrienmo opened #291 "Remove get_address_neon endpoint"
Not used by neon-wallet anymore

[2018-07-25 21:13] #163 closed

[2018-07-25 21:16] #291 closed

[2018-07-25 21:23] adrienmo opened #293 "Unclaimed gas is not loaded everytime"
It seems to be a front-end issue

[2018-07-25 21:37] adrienmo opened #294 "separate neoscan_sync from neoscan_web in distinct container"
in order to scale neoscan we should separate it in distinct roles

[2018-07-25 21:59] adrienmo opened #295 "Connect neoscan to an analytics tool"
To have detail reports on endpoints

[2018-07-26 07:57] #148 closed

[2018-07-26 21:23] decentralisedkev opened #299 "OP_CheckSig Failing tests"
The checksig opcode is currently failing tests, I think it has something to do with signatures not being in DER format, or the public_key not being compressed, I am not sure at the moment.

Test vectors were taken from neo-python

the verify signature looks like:

[code]

The method in the Execution engine looks like:

[code]

The test that fails is:

[code]

Test taken from: https://github.com/Ci

[2018-07-28 01:39] yongjiema opened #303 "Getting javascript error in address page if users didn't have NEO before"
e.g. https://neoscan.io/address/AetXb6U1FMcA3zNak8FuPmY33ovi4xj4wg/1

[2018-07-29 03:10] yongjiema opened #305 "Cannot identify the asset if more the one assets have the same name from some APIs."
Currently the following APIs return asset name under `asset` field only:

- `get_balance`
- `get_transaction`

and the others APIs (e.g. `get_address_abstracts`) return asset id under `asset` field.

[2018-07-29 04:03] nickfujita opened #306 "Transfers and balances being logged transactions that failed due to gas limit reached"
It appears that the notifications db is logging NEP5 Transfer events for transactions that failed to complete due to free gas limit reached. In the following example, 3 NEP5 transfers to separate wallet addresses were bundled into a single transaction. The first 2 transfers ran in the smart contract, emitted Transfer Notification events, but the third transfer failed due to the free gas limit bein

[2018-07-29 06:39] nickfujita commented on #306
[code]

The log for the failed transaction appears to have returned with a `vmstate` of `FAULT, BREAK`, which should indicate that the transaction for these notifications has failed.

[2018-07-29 19:29] adrienmo commented on #306
@nickfujita thanks for your detailed report. After investigation it seems the notification server is reporting unsuccessful transfer leading neoscan to register them. The problem can be solved with one of those two solutions:
1- Notification server is fixed, in this case we just have to do a full resync of neoscan
2- neoscan implements its own VM to get the transfer information instead of relying

[2018-07-29 22:55] #293 closed

[2018-07-29 22:55] #303 closed

[2018-07-30 01:48] yongjiema commented on #305
@adrienmo Can we return the asset hash under `asset` field for these APIs if users pass `asset_hash` with `true` from request?

[2018-07-30 11:34] adrienmo commented on #305
@yongjiema I actually think the whole API must be revamped, right now the frontend does not use the API, I think it would be better to unify the usage for neoscan frontend and other service that rely on it. I'm not sure we need to touch the current API, I would rather work on #248 and #249 . Do you have a use case for this API change?

[2018-07-31 01:33] yongjiema commented on #305
@adrienmo sounds better :thumbsup:

[2018-08-01 02:37] #305 closed

[2018-08-01 20:58] #238 closed

[2018-08-01 20:59] adrienmo opened #309 "Dynamically retrieve neo node lists"
To make sure all nodes are used, we can retrieve the list from: http://monitor.cityofzion.io/assets/mainnet.json

[2018-08-02 01:47] yongjiema opened #310 "Return invalid amount from get_address_abstracts API if a transaction has network fee"
e.g. for the transaction `ee6f489503137bc80f81502be6d0ec8558df59797b7279aa873624e9e96b5587` from the address `APdjiDV4EmJjRHV1pTQT6fFN3iPVswb7RP` to address `AKNywXYJMKpoEgbfG8wij2Tae5uQ78pg7n`:

- actual amount: 0.00215951
- expected amount:  0.0021595

[2018-08-03 07:38] yongjiema opened #311 "Getting `Page not found` if doesn't pass the optional parameter for API"
e.g. https://api.neoscan.io/api/main_net/v1/get_address_abstracts/AMAvaXFKtowxB5VpJ928QCSLZD9iMRnhbo

Actual behavior: Got `Page not found`
Expected behavior: Got data from server

[2018-08-03 09:10] adrienmo commented on #310
I believe the amount are correct, the 0.00000001 missing is actually the network fee. Maybe we should have a visual to make it part of the transaction, right now it is just written under, maybe it is not that clear.

[2018-08-03 09:51] #288 closed

[2018-08-03 10:40] yongjiema commented on #310
Maybe I mentioned it's not clear from previously, I mean the amount from the get_address_abstracts API (https://api.neoscan.io/api/main_net/v1/get_address_abstracts/APdjiDV4EmJjRHV1pTQT6fFN3iPVswb7RP/1) is `0.00215951`.

But actually, the address `APdjiDV4EmJjRHV1pTQT6fFN3iPVswb7RP` transferred `0.0021595` to `AKNywXYJMKpoEgbfG8wij2Tae5uQ78pg7n` (https://neoscan.io/transaction/EE6F489503137BC80F81

[2018-08-03 11:59] adrienmo commented on #310
yes indeed, I will investigate

[2018-08-03 14:27] #280 closed

[2018-08-03 14:27] #311 closed

[2018-08-03 20:19] adrienmo commented on #310
right now an intermediate solution is to remove the network fee from the gas transfer (special case for gas transfers) only one abstract will be shown and the transaction for the network fee will be omitted from the list.

this a temporary solution, a better solution will be to list the gas transfer and the network fee. Similar of what we have when we do a neo transfer with network fee.

[2018-08-03 20:24] #310 closed

[2018-08-05 00:42] yongjiema commented on #310
I agree with you as it shows difference between UI and database.

[2018-08-08 01:48] yongjiema commented on #269
I just encounter a issue related to it, some unit testings are failed due to the order is different.

[2018-08-09 23:41] lllwvlvwlll opened #321 "invoke balanceOf on transfer notifications"
Currently, there is some issues associated with general token support which are caused by a non-standard method for handling initial token minting.  As a result, if there is some event in the history of an address which resulted in a balance without a transfer event; the balance will be in error, with the errors cascading for all future events.  This feature proposal would change the implementatio

[2018-08-10 06:21] micli opened #322 "Displayed weird transaction result because of NEO node has been out of date."
**Phenomenon**

Packed multiple transfers at the same time in a NEO transaction, such as NEO transaction receipt value:
[0x2326eb9e7d5dda11ea71c9b4428f4fa036003066134fce8d93195732514ed488](https://neoscan.io/transaction/2326eb9e7d5dda11ea71c9b4428f4fa036003066134fce8d93195732514ed488) for this transaction. In the transaction, a total of 5 transfers were packaged. In the transaction, 999 JWT assets

[2018-08-10 08:54] yongjiema commented on #253
please assign it to me, thanks!

[2018-08-10 08:56] adrienmo commented on #321
@lllwvlvwlll Right now neoscan will build the balance based on the historical transfers. I don't think that calling balanceOf for each transfer will solve the problem as it assume the transfer is here in the first place which does not seem to be guaranteed. Also when resyncing the blocks from scratch, problem would be that: "I am loading the block 1_500_000, it has a token transfer, I cannot check

[2018-08-10 08:57] adrienmo commented on #253
OK, I'll let you handle it :)

[2018-08-10 09:02] adrienmo commented on #322
duplicate with #306

I will resync the db in the next days.

[2018-08-10 09:02] #322 closed

[2018-08-10 12:41] birmas commented on #321
"When displaying the address information, neoscan could directly call balanceof of all asset registered for an address to get the accurate value directly from the contract. This operation would be done "on demand", we could have a switch to see the calculated value, and the actual value"

This would solve the problem completely.

The reason I gave for not issuing a transfer call is due to token ve

[2018-08-10 12:45] adrienmo commented on #321
@birmas I know it is too late, but in this case, we might want to send an event of only 200m tokens and send another event 2 years later? Wouldn't it solve the problem ?

[2018-08-11 18:50] lllwvlvwlll opened #324 "feature: Add route to return supply of nep5 tokens for CMC listings"
Currently, all projects in neo ecosystem must maintain a method to resolving their supply in order to list on CMC.  This feature would add a route for a get which returns the total supply of a requested nep5.

/supply/{{scriptHash}}

[2018-08-12 13:58] adrienmo commented on #324
any details on the return format?

[2018-08-15 10:35] yongjiema commented on #253
I am doing the change, I think it's better to return string instead float for API, and Phoenix convert decimal as string by default. Currently, some APIs return number as string, and some APIs return as float, any idea have a good catch for it? The difference is showing as below:

`string`
- get_address_abstracts
- get_address_to_address_abstracts

`float`
- get_balance
- get_claimable
- get_last_

[2018-08-15 12:11] yongjiema commented on #253
Sounds good! I will follow the current API specification for now, and make it easy to change later.

[2018-08-16 02:06] yongjiema opened #325 "Incorrect fee returning from the get_address_abstracts API"
e.g. for transaction `9885d760bba752be5ea008276061adb33a59d5f69c86f00899d749e9f568bab9` (https://neoscan.io/transaction/9885D760BBA752BE5EA008276061ADB33A59D5F69C86F00899D749E9F568BAB9)

**Current behavior**

The amount of `fees` is `-0` (https://neoscan.io/api/main_net/v1/get_address_abstracts/AW6ePM3eAdvEsWv2cemQKQzdAEUsFzBQHD/1)

**Expected behavior**

The amount of `fees` is `0.1`

[2018-08-16 22:03] adrienmo commented on #306
fixed with resync

[2018-08-16 22:03] #306 closed

[2018-08-17 04:13] yongjiema opened #327 "The get_last_transactions_by_address document is missing the successful response"
The get_last_transactions_by_address (https://neoscan.io/docs/index.html#api-v1-get-8) is missing the successful response.

**Current behavior**

Only included the following response with `400`
[code]

**Expected behavior**

Included the response with `200`

[2018-08-18 08:48] #247 closed

[2018-08-18 08:50] #327 closed

[2018-08-18 08:55] #294 closed

[2018-08-18 22:00] SergeyAnkarenko opened #331 "Can't synchronize"
At some point neoscan has stopped synchronizing

![image](https://user-images.githubusercontent.com/6827668/44303445-d8339780-a349-11e8-82ac-659e006c3761.png)

![image](https://user-images.githubusercontent.com/6827668/44303523-4036ad80-a34b-11e8-9aa3-a732908b8d6f.png)

![image](https://user-images.githubusercontent.com/6827668/44303473-690a7300-a34a-11e8-9055-5e58321761cf.png)

After restart it s

[2018-08-19 13:30] adrienmo commented on #331
it seems you are running a very old version of neoscan, can you try with a newer version?

[2018-08-19 13:30] #331 closed

[2018-08-19 13:50] SergeyAnkarenko opened #332 "invalid balance is displayed"
https://neoscan.io/address/AMbsZvvmzBMtNN6ukux8AYqL2JCndRtd8i
https://neotracker.io/address/AMbsZvvmzBMtNN6ukux8AYqL2JCndRtd8i

Neoscan is displaying invalid neo balance

[2018-08-20 08:43] adrienmo commented on #332
The missing transaction is in the block "2,623,809", the chain was stuck on this block explaining the error from neoscan, a full resync of the chain will solve the problem

[2018-08-22 17:09] #237 closed

[2018-08-24 03:01] yongjiema opened #333 "The get_height API is not same behavior with API document"
It returns latest block index of the neoscan db from the `get_height` API document, it's possible get different data.

e.g. DB is having blocks from 0 to 1000 except 998 and 999 at a time, it is returning `1001 - 2 - 1 = 999 - 1 = 998`, but the latest block index is 1000.

Current behavior: `total count` - 1
Expected behavior: same behavior with API document

[2018-08-24 10:15] adrienmo commented on #333
My first observation would be: this is a temporary state, it is only when neoscan is syncing that this problem will happen.

But I understand the problem, if we want to make neoscan robust for 3rd party to rely on it we might want to cover this case. In my opinion in the given case we should return the value `997` instead, because block can be safely consumed until the 997 block, if we were return

[2018-08-24 12:18] yongjiema commented on #333
For my view, I would design as below:

1. Get and persist the original blocks from blockchain to DB
2. Calculate the related data in sequence base on the origin blocks, and pause until a missing block is synced

then the explorer will not have to re-sync if it has any issue, just re-calculate base on existing blocks, and return `997` to client as `1000` is not calculated yet.

[2018-09-03 12:49] adrienmo commented on #324
@lllwvlvwlll can you provide the documentation link of CMC? Can it be a POST request or only GET? what kind of payload should it return?

[2018-09-03 13:05] #325 closed

[2018-09-06 10:57] adrienmo commented on #299
[code]

Verify is returning true in this case, but we have a signature of 71 bytes, and a public_key of 65 bytes.
In the python example, signature is 64 bytes and public_key is 33 bytes.

Maybe we are missing this operation for the public_key: https://github.com/neo-project/neo/blob/35ff9a68010bdddc160840f222df13c3c46290f6/neo/Cryptography/Crypto.cs#L45

[2018-09-06 12:39] decentralisedkev commented on #299
Ohh I did not check both of them at the same time. If 71 bytes signature bytes works with 65 bytes public key, then we need to convert signature into DER format and decompress the public key for it to verify. That explains why it was still failing, let me re-do the functions for you, and check again.

[2018-09-07 09:02] adrienmo commented on #332
resync done.

[2018-09-07 09:02] #332 closed

[2018-09-07 12:18] adrienmo commented on #269
@yongjiema can you precise which test is failing?

[2018-09-08 15:17] #253 closed

[2018-09-12 08:48] adrienmo opened #341 "Discrepencies between website and api for neo transfer"
https://neoscan.io/api/main_net/v1/get_address_abstracts/AbF7wENYhuhBDhvR6nyNxPNGAP2puN7stS/1
https://neoscan.io/transaction/19580D89DF84F125A2D9D8A6394B81CE0BE29887580DFFCD46A28DF62117D22B

[2018-09-12 12:52] #341 closed

[2018-09-13 12:30] adrienmo commented on #324
I'm closing this issue for now, please reopen it if you have the information/ it is still needed

[2018-09-13 12:30] #324 closed

[2018-09-13 12:31] #295 closed

[2018-09-18 13:04] #333 closed

[2018-09-19 14:11] adrienmo opened #350 "bytecode decompiler issue"
https://neoscan-testnet.io/transaction/c8f6d9e6bd85b7ae87a563d3c2abef95caa5dc16722c34cec7be91ae29ccb43c

[code]

[2018-09-19 17:11] christophe238 commented on #140
Really useful addition 👍

[2018-09-23 13:58] #269 closed

[2018-09-24 12:03] #140 closed

[2018-09-24 12:55] #350 closed

[2018-09-24 16:42] #309 closed

[2018-09-28 09:15] #250 closed

[2018-09-28 09:15] #251 closed

[2018-10-04 09:18] jeroenptrs opened #354 "Syncing blocks halts on NEP-5 token transfer/mint"
In tested neo-local instances, neo scan stops syncing blocks when performing a `transfer` implementation (`mintTokens`, `deploy` that sends tokens to the owner, `transfer`, ... ) on a NEP-5 contract.

This was confirmed by @WyattMufson on a separate occasion

[2018-10-04 09:41] WyattMufson commented on #354
I can reproduce the issue on the latest version of neo-local with [this repo](https://github.com/Ryucoin/ryu-ico-template). I run `deploy` and then `transfer`. It might have to do with the fact that when I transfer neo-scan has it so the owner wallet has a negative balance (I forgot to update `totalSupply` when I minted it for the testnet - [example wallet](https://neoscan-testnet.io/address/AQdEf

[2018-10-05 05:00] WyattMufson commented on #354
After a little bit more investigation it seems that it's the `OnTransfer` call that is halting neo-scan. Previously my `deploy` function didn't cause it to stop even though it was transferring tokens. Once I added the line `OnTransfer(None, TOKEN_OWNER, TOKEN_INITIAL_AMOUNT)` in the `deploy` function it now stops neo-scan.

[2018-10-05 06:04] adrienmo commented on #354
Seems the problem comes from the python notification server that returns transfer amount as integer instead of returning it as string for the endpoint http://server/v1/notifications/block/index

[2018-10-07 04:38] WyattMufson commented on #354
Can confirm that the recent release of neo-python fixes the neo-scan issue in neo-local. Opened a PR to update to the newer version https://github.com/CityOfZion/neo-local/pull/67

[2018-10-08 02:38] adrienmo commented on #354
I will close this issue then

[2018-10-08 02:38] #354 closed

[2018-10-08 06:10] ppsdang opened #355 "neoscan-testnet.io block height is not increasing"
neoscan-testnet.io block height is not increasing.

I am testing my application, I send some NEO from my wallet to application address.

Transaction is not getting confirmed as block height is not increasing.

[2018-10-08 06:19] adrienmo commented on #355
Hello, currently the neo testnet is not working, you can check on the monitor page here: http://monitor.cityofzion.io/ (need to choose TestNet). So for the neoscan part it is working properly, blocks will be fetched as soon as testnet is working again. For more information about the testnet I invite you to contact the neo team (https://neo.org/).

[2018-10-08 06:19] #355 closed

[2018-10-09 08:59] corck commented on #321
I just stumbled over this problem as well. I'm using the nex ico template and transfered 10.000 tokens to another address. The owner address that has left 240.000 tokens, in NeoScan -10.000 token is currently displayed as no transfer event was triggered.
I will update my deploy method to issue a transfer event, might be worth to update the ico template as @adrienmo mentioned above, to avoid this i

[2018-10-11 17:38] some-dev opened #356 "run neo-scan pointed to mainnet or testnet instance"
Based on documentation i can't figure out how to configure neo-scan to run mainnet/testnet instead of private network.
Is there any way to do it?

I want to use api for retrieving utxo and balances

[2018-10-13 03:03] steffenix commented on #249
Will work on this.

[2018-10-15 22:53] vncoelho opened #357 "MINNOR ISSUE: docker api and sync only working if db container is named postgres"
First of all, I would like to congratulate all involved in the project for the great improvements.

The system is much more stable and faster!

I am just having a minnor issue using the new `api` and `sync` dockers together with the `postgres` container.
My postgres container should exactly have the name "postgres".
Otherwise,
[code]

Do you think that it could be done as a parameter of the enviro

[2018-10-16 02:37] adrienmo commented on #357
Hi @vncoelho, glad you like it. I am not sure of your setup, but it is already the case, If you look at the neo-local setup, you can see: https://github.com/CityOfZion/neo-local/blob/master/docker-compose.yml#L53

You just need to adjust this parameter to whatever hostname has your postgres container

[2018-10-16 02:46] adrienmo commented on #356
Can you describe your setup? Do you have elixir/postgres installed on your computer? Or do you try to use neo-local?

[2018-10-16 14:58] vncoelho commented on #357
In fact, I used this compose to update ours.

Thanks for the tips, I updated to `DB_HOSTNAME: eco-neo-scan-postgresql-running`. Solved.

[2018-10-16 14:58] #357 closed

[2018-10-17 17:19] some-dev commented on #356
i'm trying to run neo-scan on kuberntes. I believe i can run elixir/posgresql. But based on documentation (readme) i can't figure out how to configure neo-scan instance to work with mainnet/testnet instead of private network.

[2018-10-18 14:16] vncoelho opened #358 "Unexpected crash"
Hi, @adrienmo,

Sometime, unexpectedly, the neo-scan-api is crashing.
I believe it is because we are making several request and maybe it was not fully ready. What do you think?
The log is:

[code]

[2018-10-19 01:57] adrienmo commented on #358
Hi @vncoelho are both of containers crashing at the same time? It seems postgres becomes not available. Is it just at startup or can it happen after a long period of running well?

[2018-10-23 02:58] adrienmo opened #366 "Do not redirect user to homepage when address does not exist in the DB"
Users want to be able to see their empty balance on neoscan.

Right now only addresses having at least one transaction can be displayed, otherwise it has the address not found behavior.

[2018-10-23 04:59] adrienmo commented on #356
@some-dev you can refer to this docker-compose: https://github.com/CityOfZion/neo-local/blob/master/docker-compose.yml

you can just update the value of the variable `NEO_NOTIFICATIONS_SERVER` and `NEO_SEEDS`. If both are empty it will connect directly to the mainnet, if you want to use the test net you can set the variable to those values:

[code]

Be sure that your postgresql databse is empty be

[2018-10-23 04:59] #356 closed

[2018-10-24 17:35] phetter opened #368 "Transactions of get_last_transactions_by_address, have empty attributes"
neoscan-testnet.io/api/test_net/v1/get_last_transactions_by_address/ is not producing results with attributes array when given transaction is known to have attributes.

Proof of comparison between two results is available upon request.

https://neoscan-testnet.io/api/test_net/v1/get_last_transactions_by_address/APJnYRic9fYo1bLAdrqDbwrsnqoUD92dWo/0

versus

https://neoscan-testnet.io/transaction/93

[2018-10-25 03:17] adrienmo commented on #368
Maybe you can provide the address because right now none of the URLs given work

[2018-10-26 10:00] #368 closed

[2018-10-27 03:44] KickSeason commented on #356
i want to use it with my private chain. how should i config ?

[2018-10-27 13:39] vncoelho commented on #358
API container
[code]

Postgres:
[code]

[2018-10-28 17:31] vncoelho opened #372 "Bug - Some blocks are showing negative time between blocks"
![image](https://user-images.githubusercontent.com/17395762/47619498-1ffb3b80-dabe-11e8-8509-f821349b2aa5.png)

There should be something in the calculus, it just happens in some pages of our privatenet.

[2018-10-29 02:29] adrienmo commented on #372
@vncoelho The block time is given by this sql query:

https://github.com/CityOfZion/neo-scan/blob/master/apps/neoscan/lib/neoscan/blocks/blocks.ex#L92

would it be possible for you to check in the postgres database to check the block time and see if the time is correct (block with higher index have always a higher timestamp)? Would it be possible that different neo nodes have different clocks and

[2018-10-29 12:17] vncoelho commented on #372
I will, @adrienmo, what is the best way to query this?

But the timestamp on the screenshot looks correct, that is the strange thing.

[2018-10-29 13:30] adrienmo commented on #372
psql -h 127.0.0.1 -U postgres -d neoscan_prodv
password: postgres

And then you can run this command:
[code]

It's indeed weird that on the screenshot everything looks correct for the time.

[2018-10-30 08:06] adrienmo commented on #358
@vncoelho there is a known issue, if postgres is empty and both container start at the same time, both will try to run the migrations, it is possible it might put the db in a weird shape and be unusable. But this is for the starting case. The initial one you posted it seems the system was running fine, so I expect migration were done properly?

[2018-10-30 13:10] phetter opened #373 "[Enhance] Transaction Search with or without '0x' prefix"
The search feature would be a little more convenient if you could past a transaction with or without an 0x prefix.

[2018-11-05 16:15] vncoelho opened #374 "[feature] Include network fees and system fees on block front end view"
![image](https://user-images.githubusercontent.com/17395762/48010665-2f553700-e105-11e8-91c3-867d2678daaa.png)

What do you think?

[2018-11-05 16:16] vncoelho commented on #372
I am trying to replicate, as soon as it happens I will update here, @adrienmo.

Thanks for the tip and attention.

[2018-11-05 16:18] vncoelho commented on #358
I think you catched it, @adrienmo.
In general, this error happens in the start-up of a Private Network, as you imagined.

Maybe we could insert a delay in the start up of Both Containers (api and sync) for until postgres has, at least, one block.
What do you think?

[2018-11-06 01:31] adrienmo commented on #358
@vncoelho I think best would be to make the migration safe for race condition, or maybe only make one container running the migration, I will check what are the options

[2018-11-06 01:34] adrienmo commented on #374
Yes, probably more useful than "version" ?

[2018-11-06 04:08] vncoelho commented on #358
Hey, @adrienmo

Thanks, no hurry on this anyway. It is just a minnor incident is this specific conditions.
In addition, it seams that there is also a problem on Docker sometimes when it creates a lot of containers with docker-compose. I reported on docker-compose but they refused the problem and asked me to direct to the Docker repository...

Let's see how it flows.

Sometimes we are needing to us

[2018-11-06 04:11] vncoelho opened #375 "[feature] Token holders"
Hey, @adrienmo and @lucianoengel,

I think that we are talked about this some time ago, but I do not remember if it was already included in the future direction.

Recently, I have been giving a seminar talking about "Transparency as a contribution to the end of inequalities".
The point that border me is that sometimes I am often showing etherscan.io instead of our blockexplorer.
The main reason is

[2018-11-06 04:13] vncoelho commented on #374
Eahueahueahueahuea, go for it.

Sorry for not contributing direct in the code.

[2018-11-07 05:13] tongcw opened #376 "Neo-scan and Neo-tracker out of sync; Not be able to transfer token"
Hi. I tried to transfer my token from NEON wallet.  The transaction failed.
The token disappeared from my wallet and it has never been received at the destination wallet.

Neo-scan and Neo-tracker showed different amount of token (out of sync).

Neo-scan
https://neoscan.io/address/AXGVFLfPJPUsNTNubcPPpgHHT97RJ3twKo
Neo-tracker
https://neotracker.io/address/AXGVFLfPJPUsNTNubcPPpgHHT97RJ3twKo

Tx Ha

[2018-11-07 07:54] adrienmo commented on #376
Hello @tongcw your funds are not "lost" they just will not show up in neoscan or neon wallet.

The problem is our notifications servers did not receive the nep5 transfer notification properly
http://notifications1.neeeo.org/v1/notifications/block/2930307
http://notifications4.neeeo.org/v1/notifications/block/2930307

(One of the server got it and not the other)

To solve the problem you can use yo

[2018-11-07 10:10] tongcw commented on #376
Thank you @adrienmo.   Is my understanding correct that the fund has been successfully transferred to the receiver's wallet?  I tried signing into different wallet with private key (e.g. O3) but still none of this token or transaction shown in the Tx history section.

[2018-11-09 23:54] deanpress commented on #321
NOS is also displayed incorrectly in neoscan due to this.

[2018-11-12 08:35] adrienmo commented on #375
@vncoelho I agree with you, could you detail the metrics you would like to have?

[2018-11-12 08:48] adrienmo opened #377 "Get gas generated for an address"
[code]

[2018-11-12 10:06] vncoelho commented on #375
@adrienmo, I think that search for the list of most healthy address is enough (for NEO,GAS and NEPs5), because most of the other features of etherscan.io you already have.

![image](https://user-images.githubusercontent.com/17395762/48340404-afbdef80-e651-11e8-9ed6-4144fd0660c4.png)

![image](https://user-images.githubusercontent.com/17395762/48340437-c49a8300-e651-11e8-9c9d-aeafd3ca45ce.png)

[2018-11-13 11:06] habtt-ibl opened #378 "Cannot switch to private net"
I built a private net on my servers. How can I configure the neo-scan to **connect to my own private-net**?

[2018-11-13 12:21] QuangVUHuflit commented on #378
Yes, I am trying to ask this question. Can anyone share the config for phoenix to work with the private net? Thanks

[2018-11-19 03:43] #377 closed

[2018-11-19 12:18] osmirnov opened #380 "API returns 0 amount for self-send transactions"
This seems like a NeoScan bug as the API request itself returns "amount":"0" value.

Request:
https://neoscan.io/api/main_net/v1/get_address_abstracts/AaSvMiKMQqkev2VctudCNVu3t8Tjd1xKpG/1

Result:
[code]
Apparently this consistently occurs for self-send txs, regardless of the amount. Another example, [this transaction](https://neoscan.io/transaction/67bd2f5beebbcbe24029ba4082392c1c53095931e438a1b0

[2018-11-20 10:43] adrienmo opened #382 "Use getapplicationlog to get NEP-5 transfers"
We want to remove the dependency of neoscan on the notification server, to be able to do it, we can use the `getapplicationlog` command from NEO RPC nodes

[2018-11-20 18:17] xxedocxx opened #384 "Neo-scan missing some txids and showing different balances"
Example below

**Address:**
AMcBtJWPoJp4td2N1bjBZ3VazDoN9rwCmP

**Missing txid:**
13db3c4271f4a0c05048a468bb5d3ac7b663bf73e76d679a9411045b6bab983a

**Neotracker:**
https://neotracker.io/tx/13db3c4271f4a0c05048a468bb5d3ac7b663bf73e76d679a9411045b6bab983a

**Neoscan:**
Can't find

[2018-11-21 10:30] adrienmo commented on #384
yes, the block 2,980,963, is missing from the neoscan database. I am deploying a new synced version soon (tomorrow).

[2018-11-21 10:33] adrienmo commented on #380
If you are transferring fund to yourself, there is virtually no transfer. That's why neoscan displays 0 in this case.  Could you describe your use case?

[2018-11-21 10:35] adrienmo commented on #378
can you use neo-local project for this?

https://github.com/CityOfZion/neo-local

[2018-11-21 12:19] osmirnov commented on #380
@adrienmo neoscan displays 0 only in api. The UI for [the transaction](https://neoscan.io/transaction/6B45D56EB5013C922154AC11958CFE7DE89D275C67B3AB692F5AD3909C3BBDEC) shows the fact of the transfer. It is true for [the same transaction](https://neotracker.io/tx/6b45d56eb5013c922154ac11958cfe7de89d275c67b3ab692f5ad3909c3bbdec) on neotracker.
My business case arose from the linked issue in neon-wal

[2018-11-21 17:21] vncoelho opened #385 "Could not sync price"
API:
[code]

sync:
[code]

postgres:
[code]

It looks like that only the api crashed.

[2018-11-22 03:52] adrienmo commented on #384
fixed with resync

[2018-11-22 03:52] #384 closed

[2018-11-22 03:52] adrienmo commented on #376
fixed with resync

[2018-11-22 03:52] #376 closed

[2018-11-22 03:56] adrienmo commented on #380
The UI and the API do not show the same thing.

The UI display that some gas has been sent, and that some gas has been received
The API "display" the result of the transaction (sent - receive), it only show 1 thing and not 2 things. The front-end is currently not using the API to get its data, we will work on new endpoint to make the front-end only use API calls, in which case your problem will be

[2018-11-22 03:56] #380 closed

[2018-12-05 15:48] comountainclimber commented on #366
Any update on this? I think it is confusing UX especially for someone who is "new" to the NEO blockchain

[2018-12-06 08:22] truongtrau opened #386 "Syn has stopped at block 2654918"
![image](https://user-images.githubusercontent.com/22745195/49570621-c06c3780-f969-11e8-8dd7-cde7c497023e.png)

[2018-12-07 07:22] truongtrau commented on #386
@ambethia @Ejhfast @metachris @rockacola help me please. thank so much!

[2018-12-08 14:47] EGFR opened #387 "Neotracker and Neoscan are not synced, tokens do not appear in wallet"
I was sent 400 NEX tokens to my address. I can see the tokens in Neotracker, but not in other explorers such as Neoscan and O3. I also cannot see the tokens in Neon wallet and O3 wallet. Did I lose my funds?

any suggestions or solutions?

it has been more than 36 h.

I appreciate any help!

https://neotracker.io/address/AeZPrQzbK9sgKSB18QaTCYFiNN8KRgPRKZ
https://neoscan.io/address/AeZPrQzbK9sgKSB

[2018-12-13 12:56] vncoelho commented on #372
![image](https://user-images.githubusercontent.com/17395762/49940072-b3999780-fec5-11e8-811b-7ff52ec7c1c4.png)

@adrienmo, How to select a specific epoch in that command you sent above?

[2018-12-13 12:58] vncoelho commented on #372
[code]

Done, I just increased the number being printed.

[2018-12-17 19:08] some-dev commented on #385
i'v got similar proplem. any recipe?

[2018-12-25 14:18] some-dev opened #388 "neoscan testnet stopped at block 2 116 137"
https://neoscan-testnet.io/
as well as local indexer.
used seeds:
NEO_SEEDS: "http://api.otcgo.cn:20332;https://seed1.neo.org:20331;http://seed2.neo.org:20332;http://seed3.neo.org:20332;http://seed4.neo.org:20332;https://test1.cityofzion.io;https://test2.cityofzion.io;https://test3.cityofzion.io;https://test4.cityofzion.io;https://test5.cityofzion.io;http://seed5.neo.org:20332"

[2019-01-10 15:46] colinclosser opened #389 "Ignore extra spaces when pasting into the search bar"
Hi CoZ:
I have a small quality of life suggestion for the block explorer.

When searching for an address, spaces at the beginning or the end of the address cause the site to return to the home page with no error message.

For instance: "AQVh2pG732YvtNaxEGkQUei3YA4cvo7d2i" in the search bar returns an NGD wallet.
However: "AQVh2pG732YvtNaxEGkQUei3YA4cvo7d2i " in the search bar returns no result.

I

[2019-01-13 19:22] vincentgeneste opened #390 "[feature] get last X transactions"
I'd like to be able to query neoscan API with all last X transactions (like last 100?), without specifying an address.
I believe this is something already available as neoscan indexes all of that, it should only be a matter of having an API endpoint returning it.

[2019-02-01 08:45] im-kulikov opened #394 "NEO Scan fail in PrivateNet"
[code]

[2019-02-01 08:53] fabwa commented on #394
Fixed with #392

[2019-02-01 08:53] #394 closed

[2019-02-01 08:54] fabwa commented on #385
SHould be fixed in #392

[2019-02-01 08:54] #385 closed

[2019-02-01 08:55] im-kulikov commented on #394
Can we add some settings to disable external requests?

[2019-02-01 08:58] im-kulikov commented on #394
[code]

[2019-02-13 20:07] #388 closed

[2019-02-13 20:12] hal0x2328 commented on #387
It appears that neoscan currently has correct balance of NEX (zero).  neotracker has 399, which is incorrect according to the network nodes.

[2019-02-13 20:12] #387 closed

[2019-02-13 20:14] hal0x2328 commented on #386
Is this still an issue for you or were you able to finally get it to sync?

[2019-02-13 20:28] hal0x2328 commented on #321
@adrienmo Can we move your suggestions from August 2018 out of discussion into a rewardable task?

[2019-02-13 20:36] hal0x2328 commented on #227
This is likely solved by :  https://github.com/CityOfZion/neo-scan/pull/383
@adrienmo Is this okay to close?

[2019-02-19 17:19] hal0x2328 opened #395 "switch to codecov #393"

[2019-02-19 17:27] hal0x2328 opened #396 "protect neoscan cache crash against crypto compare error #392"

[2019-02-25 14:53] #396 closed

[2019-02-25 14:53] #395 closed

[2019-02-25 15:52] hal0x2328 commented on #382
Making a note here - @canesin just mentioned on Slack that the plan is to merge the notifications feature into the Neoscan API. @deanpress suggested to make the API backwards-compatible with the old notifications server to make migrating dApps/tools easier for anyone who was already depending on that.

[2019-02-27 07:15] vncoelho opened #397 "Show blocktime in ms"
With recent improvements on the consensus, mempool and p2p, we might be able to create some networks with less than 1s of blocktime.
I mean, in local private network, at least. But that is very useful for IoT applications as we are currently investigating.

Could you design a flag or something in docker for us to adjust the blocktime calculus? It would be great if we could see that in ms.

[2019-03-08 17:26] #386 closed

[2019-03-21 17:49] lazovskiy opened #400 "synchronization stalls"
Hello.
I've faced to synchronization issue that's highly likely conducted with Postgres stored procedures operations.

The _flush_blocks_queue_ function stops updating _blocks_meta_ table causing _get_height_ api call to stall. Also _blocks_queue_ table starts continiously growing and blocks table is not populated anymore.

If I do _SELECT flush_blocks_queue();_ mannualy I get:
**NOTICE:  performe

[2019-03-22 08:56] adrienmo commented on #400
Hello @lazovskiy this is probably because one block is missing and flush_blocks_queue cannot perform flush without this block data, the database is probably corrupted. You can check the table `blocks` and sort by block index and check if there is or not a value missing there. In which case you need to erase the db and resync

[2019-03-26 16:56] some-dev opened #401 "get_unclaimed vs get_claimable"
What's the diffenece between "unclaimed" property on this 2-endpoints?
For example
https://neoscan.io/api/main_net/v1/get_claimable/AVfPM78HkWPX4i1gQBfR3m9fMTxJVGK29C
returns "unclaimed" = 0 but
https://neoscan.io/api/main_net/v1/get_unclaimed/AVfPM78HkWPX4i1gQBfR3m9fMTxJVGK29C but returns "unclaimed" = 0.0001512 at the moment.
Why do get_claimable returns 0?
Is there are any timeout between trans

[2019-03-26 17:10] lucianoengel commented on #401
like the api docs say (https://neoscan.io/docs/index.html#api-v1-get-5)
get_claimable: Returns the AVAILABLE claimable transactions for an address, from its hash.

like the api docs say (https://neoscan.io/docs/index.html#api-v1-get-10)
get_unclaimed: Returns the unclaimed gas for an address from its hash.

basically get_claimable returns only the available unclaimed gas whereas get_unclaimed retu

[2019-03-26 17:10] #401 closed

[2019-03-26 18:26] some-dev commented on #401
Thanks for the answer - could you clarify - what does "unavailable" gas means?
Why it is unavailable?

[2019-03-26 18:36] lucianoengel commented on #401
because it's not yet spent, so you can't yet claim it

according to: https://docs.neo.org/en-us/faq.html

What is GAS？How to acquire GAS？

GAS represents the right to use the Neo Blockchain. NEO network charges GAS for the new assets issuance as well as for smart contract running and storage. In the genesis block GAS is 0 and it is generated as new blocks generate. Once NEO is acquired, GAS is gen

[2019-03-26 20:29] some-dev commented on #401
Got it thanks a lot

[2019-03-28 14:17] lazovskiy commented on #400
Thank you for reply. I've looked up for any errors from postgres with no luck. Everything works as expected. I've tried to change postgres version 9.6 to 11.2: this time synchronization goes further but nevertheless stopped at some point:
[code]
[code]

[2019-03-29 07:48] lazovskiy commented on #400
Also is it possible to roll back the database to some point in order to not start synchronization from very beginning. Or maybe some bootstrap dumps exist out there? @adrienmo

[2019-04-03 11:27] cloud8little opened #402 "https://neoscan-testnet.io/address/AeUNx73gJezSNS5YJNkWm998MLjjqLtVVf show internal server error"
![131554290087_ pic_hd](https://user-images.githubusercontent.com/34291844/55475401-714bc000-5646-11e9-869a-96c9e3b9a092.jpg)

[2019-04-04 08:36] l-vitall commented on #400
Guys this is not the question. We cannot run neo-scan locally because it stucks all the time at some point before it is even fully synchronized. We need to understand how to avoid this stuck. Just to delete-and-start-again is not a good approach for live service (we need it for online transactions processing)

[2019-04-04 11:19] adrienmo commented on #400
@lazovskiy there are no dumps for neoscan. It is also not possible to rollback at the moment.

@l-vitall I agree with you, however I don't know how to reproduce the problem, on neoscan development server (staging/production) I never ran into this issue. If you have more details on error message around the missing block maybe it could give helpful hints

[2019-04-08 08:56] cloud8little opened #403 "neoscan of testnet did not update"
![19361554712271_ pic_hd](https://user-images.githubusercontent.com/34291844/55711420-31f2ea00-5a1f-11e9-8a9c-c70ea2a32af2.jpg)

[2019-04-09 00:07] vincentgeneste opened #404 "[enhance] twitter card for neoscan"
it would be awesome if neoscan could have metadata for twitter card so that it shows the name / logo instead of something blank at the moment if it's shared on twitter.

it's as simple as adding

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="Your home for all NEO related blockchain information" />
    <meta name="twitter:title" content="NEOSCAN"/>

[2019-04-11 07:58] #382 closed

[2019-04-14 15:50] vncoelho opened #405 "Notification server have been removed"
Congratulations for the great job, @adrienmo.

I just saw that dependencies related to notification servers have been removed, right?
In this sense, all queries now are being directed to neo-cli c# clients with NEP5 plugin, correct?

I think that it will surely allow a better experience in long-term use.

[2019-04-15 01:19] adrienmo commented on #405
Hi @vncoelho yes that's correct, it does not need the notification server anymore. The query can be directly done the the c# client and they need to have the function `getapplicationlog` enabled which I guess is the nep5 plugin. Can I close the issue or do you need something about this?

[2019-04-15 02:02] vncoelho commented on #405
Perfect, @adrienmo. Nice job.
I already upgraded our system, thanks.

[2019-04-15 02:02] #405 closed

[2019-04-15 02:48] #403 closed

[2019-04-15 02:50] adrienmo commented on #227
@hal0x2328 yes let's close it

[2019-04-15 02:50] #227 closed

[2019-04-20 13:37] vncoelho opened #406 "Neoscan in Privatenet"
Hi @adrienmo,
    After the removal of notification our neoscan has not been performing perfectly in terms of syncing.
   It is getting stuck very often, while the neo-clients keep generating blocks normally.

   I believe it is part due to some of our configurations. Can you please check if the way we are setting the containers is properly done?

[code]

[2019-04-22 02:08] adrienmo commented on #406
Everything looks fine to me, do you have some logs of the sync container when it is getting stuck?

[2019-04-22 02:14] vncoelho commented on #406
@andrienmo, thanks for the reply.

I do know the commands for the log very well...ahauaha
Can you recommend a tutorial?If you could send me the commands.

[2019-04-22 02:28] adrienmo commented on #406
[code]

This should output the last 200 lines of log and display any new line "live".
I think you are naming the container so it should work, otherwise you can always do `docker ps` to check the name of the running container!

[2019-04-22 02:55] vncoelho commented on #406
Anhhh, I got it, Adrienmo.
Thus, really the logs.. ahauaha
I thought it was inside another process of the container.
I am going to investigate and return asap, if you want you can leave closed meanwhile.

[2019-04-22 03:05] adrienmo commented on #406
If there is an issue I expect to go to the container logs, if none I would probably need to connect to the node to debug!

[2019-04-22 14:45] vncoelho commented on #406
[code]

[2019-04-22 14:53] vncoelho commented on #406
@adrienmo, I forgot to mention, it usually happens in environments with low computational resources.
When the available amount of resource is higher it tends to happen a little bit less often.

[2019-04-26 15:53] adrienmo commented on #406
After getting this error, does it resume or does it stay stuck?

[2019-04-26 16:01] vncoelho commented on #406
Lost in the jungle.

[2019-04-30 14:15] jeroenLu commented on #406
I got the same error while running my NEO private net and NEO scan. NEO Scan is stuck after the error.

[2019-05-20 05:00] khanhj commented on #406
i got the same error

[2019-05-20 19:17] adrienmo commented on #406
@vncoelho can you retry with this version: `62150786-better-logging` ?
I have added some Logs, so if it fails we would have a stack trace

[2019-05-20 19:33] vncoelho commented on #406
Both API and Sync, right?
`registry.gitlab.com/cityofzion/neo-scan/sync:62150786-better-logging`
`registry.gitlab.com/cityofzion/neo-scan/api:62150786-better-logging`

https://neocompiler.io/ has been updated. As soon as we have the log we gonna post it here.
Thanks,

[2019-05-20 20:50] adrienmo commented on #406
yes correct, but actually only sync is useful

[2019-05-23 19:24] vncoelho commented on #406
@adrienmo , apart of logging better, did it fix anything or modified something?
The error is not appearing until now. But as previously sad, it happens under specific conditions, sometimes more often when computational resources are lower.

[2019-05-24 09:04] adrienmo commented on #406
@vncoelho no it does not modify anything... It would just print out the stacktrace if it cannot download block fails (I suspect a parsing issue) but maybe this was the culprit: https://github.com/CityOfZion/neo-scan/pull/408  ?

[2019-05-25 22:04] vncoelho commented on #406
Maybe it was these commits here:
![image](https://user-images.githubusercontent.com/17395762/58374972-32880700-7f1f-11e9-89b1-f4d23b4b18f0.png).

But I just got another stuck, I will open another issue, because it is different.

[2019-05-25 22:05] vncoelho opened #412 "Stuck on NeoScan after 2 out of 3 RPC nodes failled"
2 out of 3 of the RPC nodes lagged.
However, the configuration of the Neoscan was:

`NEO_SEEDS: "http://eco-neo-csharp-node1-running:30333;http://eco-neo-csharp-noderpc1-running:30334;http://eco-neo-csharp-noderpc1-running:30337"`

Node at port 30334 was still on top.
Neoscan has been stuck for more than 2 hours and just returned after restarting those 2 nodes.

[2019-05-27 21:14] kokahunter opened #413 "MainNet TestNet switch"
On neoscan.io if you switch to [NEOSCAN Testnet](https://neoscan-testnet.io/) in the footer, the link to testnet remains, but you should see a Mainnet link to switch back.

[2019-05-27 22:20] vncoelho commented on #406
@adrienmo, I suspect that the problem was fixed, neoscan has not been stucking since upgrade to `better-logging`

[2019-05-28 08:49] adrienmo commented on #406
@vncoelho OK, I will merge the branch and close the issue. On a side note, maybe it will be interesting for you, I created a new version of the docker image, that combines `sync` and `api`, so you only need one container instead of two. It is useful if you don't need to scale the API to several container which I guess is your case:

`registry.gitlab.com/cityofzion/neo-scan/full:latest`

[2019-05-28 08:49] #406 closed

[2019-05-28 08:50] adrienmo commented on #404
#407 has been merged

[2019-05-28 08:50] #404 closed

[2019-05-29 09:48] khanhj opened #414 "[privatenet][neo-scan-docker] neo-scan stop syncing block after deploy Smart Contract"
`2019-05-29 09:41:54.957 [error] [nonode@nohost] error while downloading block {4443, :exit, {:timeout, {Task.Supervised, :stream, [60000]}}}
2019-05-29 09:41:54.958 [error] [nonode@nohost] [{Task.Supervised, :stream_reduce, 7, [file: 'lib/task/supervised.ex', line: 280]}, {Enum, :map, 2, [file: 'lib/enum.ex', line: 2979]}, {NeoscanNode, :get_block_with_transfers, 1, [file: 'lib/neoscan_node.ex',

[2019-05-29 18:15] vncoelho commented on #406
Thanksssss, @adrienmo.
As soon as possible I will use this image.

But in general you do not use the tag `latest`, we prefer to have strictly control on the version.
Can you please share the link to this images?
If not already there, maybe it could be in the README.

Thanks for everything, my friend.
And congratulations for the great job you are all doing.

We hope we can keep improving minor thin

[2019-05-30 06:29] adrienmo commented on #406
@vncoelho latest tag is this one: `63461477-master`

[2019-05-30 06:35] adrienmo commented on #414
Hello!

It seems you are running neoscan from source, do you have some background with elixir?
I think code is stuck here: https://github.com/CityOfZion/neo-scan/blob/master/apps/neoscan_node/lib/neoscan_node.ex#L25 and looping forever on line 32, If you can add an IO.inspect to see what's going on it could be helpful

[code]

[2019-05-30 06:41] adrienmo commented on #412
it's weird, the only thing I can think about now would be:
- the remaining node is not responding in less than 2000 ms so it times out
- the remaining node does not have application log enabled
- the remaining node is stuck at the same block height

[2019-06-04 04:27] joanneBio commented on #414
I got the same issue. It happens when I worked with my privatenet: neo-cli 2.10.2 && neo-scan from source. Anytime I tried to deploy a new smart contract, neo-scan stopped working with similar errors and I have to reset the whole system. Maybe neo-cli 2.10.2 affect the neo-scan?

[2019-06-05 08:00] khanhj commented on #414
i edit that file as follow:
`  defp get_transfers(%{type: :invocation_transaction, hash: hash} = transaction, index) do
    node_url = NodeChecker.get_random_application_log_node(index)

    case NeoNode.get_application_log(node_url, Base.encode16(hash, case: :lower)) do
      {:ok, transfers} ->
        transfers

      error ->
	IO.puts("ERROR_HERE:")
        IO.inspect error
        get_transfe

[2019-06-05 21:34] dauTT commented on #131
@adrienmo, is the elixir neo-vm completed?
There has been many changes to the main C# neo-vm repository (https://github.com/neo-project/neo-vm) since you last NEO VM merged (#281).

Shall we try again to make the elixir neo-vm fully compatible with the C# one?

[2019-06-06 14:52] adrienmo commented on #414
Ok I think the reason is that it cannot parse the smart contract events properly. Any chance the chain can be accessed from outside so I can have a look?

[2019-06-06 22:31] vncoelho commented on #406
Updated to `full` and it is working as expected!

Thanks for keeping this image updated, @adrienmo.

[2019-06-07 04:50] khanhj commented on #414
Thanks adrienmo.

Here is our neo-scan:
`https://dev-neoscan.zeyap.io`

Here is our seed with rpc:
`https://dev-fintech1-seed5.zeyap.io`
check block with this command:
`curl --header "Content-Type: application/json" \
--request POST \
--data '{  "jsonrpc": "2.0",  "method": "getblock",  "params": [4440,1],  "id": 1}' \
https://dev-fintech1-seed5.zeyap.io`

BLOCK 4487 and 4490 contain SmartContract

[2019-06-07 05:00] khanhj commented on #414
@adrienmo you can ping me on discord, group: NEO dev-general, user: khanhlh - IBL

[2019-06-07 11:16] hal0x2328 opened #415 "[feature] Show spent/unspent for each output"
Neoscan should provide information about whether each UTXO output has been spent or not, which can be useful in tracking down transaction verification issues.

[2019-06-14 07:20] intelfx commented on #414
Alright, I think I understand the issue.

NEO SCAN uses the `getapplicationlog` JSONRPC method in this code path. Looking at the [NEO CLI docs on this method](https://docs.neo.org/en-us/node/cli/2.8.0/api/getapplicationlog.html):

So, you have to run your NEO CLI nodes with `ApplicationLogs` plugin (and pass the `--log` command line argument to actually enable the plugin). NB: I had to delete each

[2019-06-14 17:02] adrienmo commented on #414
Did you reset the blockchain? I don't see any problem with those two blocks?

[2019-06-16 09:17] fabwa opened #417 "Wrong price displayed"
main page displays wrong NEO price. When refreshing the page it seems to jump between 2 wrong figures..

[2019-06-17 09:08] khanhj commented on #414
i would say install Plugin ApplicationLogs on our rpc to get rid of this issue.
thank you @intelfx @adrienmo

[2019-06-17 09:08] #414 closed

[2019-06-18 07:59] adrienmo opened #418 "Token will not be retrieved properly if neoscan crash"
Right now, when parsing new transaction, neoscan will detect new asset it needs to retrieve details from, however this is done in memory, if the application crash it will loose the list of which token it should query the details of. To prevent this, this list should be persisted in postgres to survive crashes

[2019-06-20 08:11] simonemanneschi commented on #378
Just use env variable NEO_SEEDS and NEO_NOTIFICATIONS_SERVER pointing to your private instance

[2019-06-27 03:29] uvmetal commented on #417
Can you please supply the exact sequence of commands you used to start the server? As you'll see below, I managed to get the system to build and display the right price so I'm wondering if the production server should be restarted to see if that works. Who has permission to restart it? Could they restart? I've had trouble reproducing the error since about 8PM CST. It was malfunctioning all afterno

[2019-06-27 03:34] uvmetal commented on #417
I thought I would point out that my local test server (it's local, but syncing main net) is almost always producing errors during synchronization as exemplified here:

![image](https://user-images.githubusercontent.com/7162325/60232539-86f60d80-9862-11e9-9c35-ec6afc614203.png)

I'm reviewing as to why, but I'm also curious if the logs are showing the some in prod.

Thanks again.

[2019-06-27 10:12] adrienmo commented on #417
The problem is crypto compare blocking the requests from the neoscan server, it will stop serving it after some time by blocking the IP.

Because we have 2 instances of neoscan running, when you refresh the page it switches between one and the other instance, that's the reason why there are two different prices. We probably need to pay crypto compare to use their service or find a way to make less

[2019-06-29 23:48] hal0x2328 opened #419 "get_all_nodes returning deprecated neonexchange.org URLs"
https://api.neoscan.io/api/main_net/v1/get_all_nodes is returning nodes with the URL *.neonexchange.org which no longer have a valid SSL certificate, which causes errors for neon-js users or anyone else using the Neoscan API to select the best node at any given moment.

 I believe the neonexchange.org domain is deprecated and those nodes should be changed to point to *.nash.io instead.

[2019-06-30 20:57] uvmetal commented on #419
As you can see from the following it appears one would need to update the following file to make this change.

![image](https://user-images.githubusercontent.com/7162325/60402062-adac9080-9b4f-11e9-82a3-50af1fed5f73.png)

[2019-06-30 21:21] uvmetal commented on #419
Correction, it appears the file https://raw.githubusercontent.com/CityOfZion/neo-mon/master/docs/assets/mainnet.json does not contain the exchange links. The nash servers just need to be added.

[2019-07-01 00:21] uvmetal commented on #419
Correction, I wasn't synchronized. I'm reviewing to correct the discussion thread now.

[2019-07-04 15:33] uvmetal commented on #402
I'm having trouble reproducing this on my localhost testnet. See the screenshot below. It is still a bug on neoscan-testnet.io.

![image](https://user-images.githubusercontent.com/7162325/60677449-2741c880-9e47-11e9-811f-8c807c4449b2.png)

[2019-07-04 17:13] uvmetal commented on #402
Development - I've been taking successive screenshots under the assumption that at some point a calculation would go awry. Check this out:

![Screenshot from 2019-07-04 12-08-43](https://user-images.githubusercontent.com/7162325/60681423-cb7e3c00-9e54-11e9-9ed8-bedb2ef28bbc.png)

ICYMI, the screenshot from the last comment shows 1,672 gas balance. This screenshot shows 1.9?!?!

So this doesn't nai

[2019-07-04 17:18] uvmetal commented on #402
And just a few moments later!

![Screenshot from 2019-07-04 12-17-46](https://user-images.githubusercontent.com/7162325/60681686-d38aab80-9e55-11e9-9143-535d1ad7d3d0.png)

[2019-07-04 17:36] uvmetal commented on #402
So this is what just happened. First this:

![Screenshot from 2019-07-04 12-25-02](https://user-images.githubusercontent.com/7162325/60682256-41d06d80-9e58-11e9-9684-c6616a139a69.png)

Then:

![Screenshot from 2019-07-04 12-28-30](https://user-images.githubusercontent.com/7162325/60682238-2ebd9d80-9e58-11e9-9992-dbb959d625d6.png)
![Screenshot from 2019-07-04 12-34-39](https://user-images.githubuse

[2019-07-04 18:09] uvmetal commented on #402
Pinpointing block and console message:

![Screenshot from 2019-07-04 13-08-32](https://user-images.githubusercontent.com/7162325/60683341-f10f4380-9e5c-11e9-8b23-c1f38523103f.png)

[2019-07-04 20:39] uvmetal commented on #402
Here is the tar of what I'm working off of. These are all of the data I could find so far, if anyone is interested in having a look. It may not be obvious from this data and could just be a bug in neoscan, but I thought I'd share should anyone be interested.

[case_address_bug.tar.gz](https://github.com/CityOfZion/neo-scan/files/3360418/case_address_bug.tar.gz)

[2019-07-08 13:07] hal0x2328 opened #425 "NEX balance discrepancy"
https://api.neoscan.io/api/main_net/v1/get_balance/AVfzeL6oCKdyA2af8LnVu9pZiKyQRHi3H4 reports a balance of 1700 NEX for the requested address but direct `balanceOf` queries to multiple RPC nodes return a balance of 0 NEX.

[2019-07-09 18:39] uvmetal commented on #397
You want to be able to see this in the front end neoscan web block explorer correct? Here, for example:

![image](https://user-images.githubusercontent.com/7162325/60914316-e84cb200-a24e-11e9-881a-032b1f0ae8fa.png)

[2019-07-14 21:12] mscheetz opened #427 "Contract lookup"
Looking for the ability to find a contract on the neoscan explorer. For example if i look up the Switcheo Exchange's contract, nothing happens.

b9a70a85136ed73f1f94e83edfee68c00daf412f

Would be nice for this functionality to be available as REST endpoint aswell.

[2019-08-18 21:39] fabwa commented on #417
@adrienmo @uvmetal considering that CC is blocking our IPs, should we switch to coingecko? They are free and allow 100 calls/minute (i.e. 200 combined) That should suffice i assume (?).

https://api.coingecko.com/api/v3/simple/price?ids=NEO&vs_currencies=USD

[2019-09-15 07:12] fabwa commented on #417
@adrienmo ping on above

[2019-09-15 07:16] #397 closed

[2019-09-16 16:39] comountainclimber commented on #417
@adrienmo can we reduce the interval here https://github.com/CityOfZion/neo-scan/blob/master/apps/neoscan_cache/lib/neoscan_cache/cache.ex#L19 such that each instance makes a maximum of one request every 10 minutes or so

[2019-09-21 10:29] chrismcna opened #429 "get_claimable on Multisig account doesn't returns any claims"
Hi,
I've created a multi sig address using neon-js and I'm expecting claimable gas but get_claimable api doesnt return any claims

http://api.neoscan.io/api/main_net/v1/get_claimable/APKaDaTu65uNDNyMRmxkA9qofU5DJxTgUy
https://neoscan.io/address/APKaDaTu65uNDNyMRmxkA9qofU5DJxTgUy
![get_claimable ](https://user-images.githubusercontent.com/15839356/65372102-9ae3bc80-dc63-11e9-8877-c27b5380b1b6.png)

[2019-09-23 09:42] adrienmo commented on #429
Hi,

You are not using the right endpoint, you should use:

https://api.neoscan.io/api/main_net/v1/get_unclaimed/APKaDaTu65uNDNyMRmxkA9qofU5DJxTgUy

instead.

`get_claimable` only list what you can directly claim (basically neo that went into your account and then spent).

`get_unclaimed` is giving you an estimation on how much gas you could claim if you were spending  your neo at the current bloc

[2019-09-23 09:42] #429 closed

[2019-09-23 11:14] chrismcna commented on #429
Thank you,
You have cleared up my miss understanding.
I have sent my neo to myself and i get claims returned, which i have now claimed.

I was using the guide http://cityofzion.io/neon-js/docs/en/guides/basic/claimgas.html
the note state "This does not automatically send your NEO to yourself" but I didn't realise the importance of this note  and how it affects my code.

Thanks again for all your h

[2019-10-04 12:57] roman-khimov opened #431 "Internal server error for testnet block 316711"
Something breaks when trying to view this block:

https://neoscan-testnet.io/block/316711
![Screenshot_20191004_155542](https://user-images.githubusercontent.com/22092804/66209199-84a41a80-e6bf-11e9-84c8-c019006b1c63.png)

The response code is 500.

[2019-10-04 13:01] roman-khimov commented on #431
The same thing happens when trying to get info about one of transactions in this block:
https://neoscan-testnet.io/transaction/ec9140e9c74e0314ef5bad8a8f1cec1dae9b5715c3d485ea7cf79a850c932d92

[2019-10-07 21:01] dauTT commented on #425
Hi @hal0x2328 ,
I can't reproduce your issue:

https://api.neoscan.io/api/main_net/v1/get_balance/AVfzeL6oCKdyA2af8LnVu9pZiKyQRHi3H4

![image](https://user-images.githubusercontent.com/30392990/66347631-124c6800-e955-11e9-83b4-00248ffccf35.png)

[2019-10-10 10:08] wanglongfei88 opened #432 "InvocationTransaction: Opcode Script used the wrong format for address scriptHash"
For nep-5 transfer, neo-scan use the wrong format for addess scriptHash in `Opcode Script` section which is misleading.

Wrong ScriptHash:  `0x1d04f23dcc0ccf0c83536e3bf00bcd5c9a6f63f6`
Correct ScriptHash: `1d04f23dcc0ccf0c83536e3bf00bcd5c9a6f63f6`

Please see the screenshot for a example:
![little endian](https://user-images.githubusercontent.com/34025001/66559943-e3b6d300-eb88-11e9-8016-a9c840a22

[2019-11-02 00:00] vncoelho opened #434 "Could not sync price"
On our shared privatenet, which has a neoscan instance we are currently having problems with price syncing.

Do you have any idea?

[code]

[2019-11-02 00:05] vncoelho commented on #434
For some reason , the error stoped and price was syncing normal again...aehaheuaea

[2019-11-02 00:05] #434 closed

[2019-11-06 22:23] vncoelho opened #435 "NeoScan sometimes stop syncing"
[code]

[2019-11-08 10:34] vncoelho commented on #435
[code]

[2019-11-08 14:00] vncoelho commented on #435
Maybe it was because of its `NEO_SEEDS`

I was initializing like this on docker:

[code]

And I saw like this on neo-local:
[code]

Both ways should work, @adrienmo?
How can I check current peers of neo-scan?

[2019-11-08 14:03] vncoelho commented on #435
![image](https://user-images.githubusercontent.com/17395762/68481946-3b436f80-0217-11ea-9ba9-53d57f327092.png)

I think this was the problem.
I just checked and saw that neoscan just connected to one of those NEO_SEEDS.

[2019-11-08 14:33] vncoelho commented on #435
Fixed. It was my configuration problem.

I apologize for the inconvenience.

[2019-11-08 14:33] #435 closed

[2020-02-21 22:01] lock9 opened #439 "This is a test"
Please ignore this.
![image](https://user-images.githubusercontent.com/38396062/75075429-8e96b080-54dc-11ea-85f3-325e026e0650.png)

[2020-02-21 22:03] #439 closed, assigned to nobody

[2020-02-26 08:35] Qiao-Jin opened #440 "Is there available neoscan-3.0?"
Hi, is there currently available neoscan3.0?

[2020-02-26 08:38] fabwa commented on #440
https://neo3-preview.com/

[2020-02-27 02:52] Qiao-Jin commented on #440
Thank you, is it

Thank you! Could you provide the repo's url?

[2020-02-27 02:53] Qiao-Jin commented on #440
Thank you! Could you provide the repo's url?

[2020-02-27 07:01] fabwa commented on #440
https://github.com/CityOfZion/neo-3-preview

[2020-02-27 09:23] Qiao-Jin commented on #440
Thank you!

[2020-03-04 03:13] datnguyencse opened #441 "[Warning] Do not use neo-scan-docker provided by slipo. Coin mining malware."
This is just a warning, because I not sure what is going on with the docker or the source code, but every time I start the docker, a process name oka is Injected into the docker name `postgres:10.1 `used by` neo-scan-docker` and eat all the server's resource. Then I delete 2 dockers and everything is going back to normal.

Docker: https://github.com/slipo/neo-scan-docker
Source code branch used: h

[2020-04-06 09:47] aprasolova opened #443 "Neo-scan cannot sync with Neo-Go node"
I have a [neo-go](https://github.com/nspcc-dev/neo-go) node of version `0.74.1-pre-47-g396c78c` and I'm trying to connect neo-scan to this node.

I run neo-scan with docker-compose. The compose file is:

[code]

Neo-Go's config file, `protocol.privnet.yml`, looks so:
[code]
The error that neo-scan writes to log:
[code]
and so on and so forth for every block.

Looking into neo-go logs, I see that n

[2020-04-07 03:24] lllwvlvwlll commented on #443
@adrienmo do you have any ideas?

[2020-04-24 13:31] drptbl opened #444 "Market graph data is missing"
Market graph is not working properly (probably because it didn't receive any data from data source).

*URL:*
https://neoscan.io/

*Screenshots:*
<img width="1674" alt="Screenshot 2020-04-24 at 15 12 44" src="https://user-images.githubusercontent.com/8177587/80217630-4f9dec00-8640-11ea-8e0c-35efde2721e8.png">
<img width="441" alt="Screenshot 2020-04-24 at 15 29 48" src="https://user-images.githubus

[2020-09-22 02:47] zzsZhou opened #448 "TestNet API unreachable"
Hi,the testnet open api https://neoscan-testnet.io looks like unreachable.Our ONTO App is using there apis,could you please tell me when will you fix it?thanks a lot.

[2021-01-18 08:54] matyushkins opened #450 "function nil.type/0 is undefined"
HI.
App is run **mix phx.server**

Error:

`2021-01-18 08:50:07.060 [error] [nonode@nohost] #PID<0.8551.0> running NeoscanWeb.Endpoint (cowboy_protocol) terminated
Server: localhost:4001 (http)
Request: GET /address/ATK4oqXTKc4fwi4MLU1HHWVHLZLV1dA6at
** (exit) an exception was raised:
    ** (UndefinedFunctionError) function nil.type/0 is undefined
        nil.type()
        (neoscan_web) lib/neos

[2021-01-19 09:55] djm34 opened #451 "is there a plan for neo-scan running with neo3 preview 4 ?"
Hello,
is there a plan to have neo-scan running on neo3 preview 4 (and higher) ?
I have been trying neo3-preview, however this one seems to work only with preview1 (due to the DynamoDBPublisher plugin)

Thanks for your help,
djm34

[2021-01-22 09:50] adrienmo commented on #451
Hello, I don't maintain this project anymore, and I don't think anyone is. I believe there won't be a neoscan for neo3.

[2021-04-20 07:50] 1scrooge opened #453 "could not sync price (You are over your rate limit please upgrade your account)"
Hi.
I have problem with sync neo-scan
Log:
[code]
How can I upgrade my account?

[2021-07-05 14:07] #419 closed

[2021-07-28 18:39] Imrankshaikh2001 opened #455 "Lost my neo"
I have transferred my 41 neo from exodus to ledger nano x however it is not showing up on ledger and I was never asked to create a neon wallet it was on ledger that I got the address I don't know how but now I m not able to get my neo

https://neoscan.io/address/AMWRMeeY2rKfYeTzNp821CKU3G22n8isJf to this wallet, how do I get.my neo back to my exodus wallet AMUTzpCRP1ZkG4V1GXroBYGjtD4SuUdv4M

Someo

[2022-04-26 11:38] leifjones commented on #123
Bump